body.careers {

  p, a, h4, h3, h2, h1, li {
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2.5px;
    font-weight: 900;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 28px;
  }

  h4 {
    font-size: 14px;
    color: $olive-matt;
    letter-spacing: 1px;
    line-height: 16px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: #939A9C;
    line-height: 18px;
  }
}
