body.careers {

  /* HEADER, NAVIGATION, BANNERS  */

  .absolute-header {
    position: absolute;
    width: 100%;
    z-index: 1;

    .header {
      padding: rem(40px) rem(20px);
      @include rwd(tablet-up) {
        padding: rem(40px) 0;
      }
    }

    .header__logotype {
      width: 280px;
    }

    .header__nav {
      flex-basis: 40%;

      .header__nav-item {
        a {
          font-size: rem(18px);
          font-weight: 400;
          color: $white;
          -webkit-font-smoothing: antialiased;
        }
        &.current a {
          font-weight: 700;
        }
      }
    }

  }

  main {
    background-color: #F4F4F4;
  }

  .video-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: rem(120px) rem(30px) rem(80px);
    @include rwd(tablet-up) {
      padding: rem(120px) 0;
    }

    .container {
      text-align: center;
    }

    .video-banner__title-wrapper {
      max-width: rem(500px);
    }
  }


  /* FOOTER STUFF */

  .footer {
    background: $white;

    a {
      color: $olive-matt;
    }

    h4 {
      margin-bottom: rem(10px);
      color: $grey-heading;
    }

      p {
        color: $olive-matt;
      }

    }

  .footer__bottom {
    color: $grey-heading;

    a {
      color: $grey-heading;
    }

  }

}

p, a, h4, h3, h2, h1, li {
  -webkit-font-smoothing: antialiased;
}
