<div class="shuttle-options container">
  <div class="row">
      <h3>Unsere Plattform vereint<br/>
              Rufbusse, Fleet-Management und Mitfahrgelegenheiten.</h3>
  </div>
  <div class="row shuttle-options__image">
      <img data-src="/img/shuttle-options.svg" alt="Shuttle Options">
  </div>
  <div class="row">
      <div class="col-md-4">
          <img data-src="/img/icon-shuttle.svg" alt="" class="shuttle-options__icon">
          <h2>Rufbus</h2>
          <p>Ein professioneller Fahrer bringt die Fahrgäste ans Ziel ihrer Wahl.</p>
          <a href="./rufbus.html">Mehr Infos</a>
      </div>
      <div class="col-md-4">
          <img data-src="/img/icon-fleet.svg" alt="" class="shuttle-options__icon">
          <h2>Fleet</h2>
          <p>Kunden mieten sich ein Auto oder einen Roller für Minuten oder Stunden. Mit oder ohne feste Stationen.</p>
      </div>
      <div class="col-md-4">
          <img data-src="/img/icon-carpool.svg" alt="" class="shuttle-options__icon">
          <h2>Mitfahrgelegenheit</h2>
          <p>Fahrer nehmen in ihrem privaten Wagen Mitfahrer mit an ihr Ziel. Die Fahrtkosten teilen sie gerecht untereinander auf.</p>
          <a href="./mitfahrgelegenheit.html">Mehr Infos</a>
      </div>
  </div>
  <div class="row">
      <a href="./preise.html" class="btn btn--blue">Preise</a>
  </div>
</div>
