<div class="text-boxes container">
    <div class="text-box text-box--left">
        <div class="row">
            <div class="col-md-6">
                <img data-src="/img/app-mockup.jpg" data-srcset="/img/app-mockup@2x.jpg 2x" alt="App Mockup" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Your fleet in full control.</h2>
                <div class="text-box__subtitle">Never lose track of your fleet.</div>
                <p>Our fleet management system provides all important data about your vehicles. Check on the fuel level, view locations and receive a live update on your fleet. It is all available to you on our securely hosted cloud solution.</p>
                <p>It features high reachability, security and stability. We make sure your system is up and running.</p>
                <p>The focus of our solutions is to provide user friendly processes needed for building a free floating sharing business. Simple tasks like vehicle tracking or business area definition and complex work flows like managing service & maintenance are already implemented and come with every server instance.</p></p>
            </div>
        </div>
    </div>
    <div class="row features align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <div class="feature">
            <img data-src="/img/icon-lock.svg">
            <div class="feature__content">
                <h2>Lock & Unlock</h2>
                <p>Lock or unlock vehicles using our backend. The system provides immediate feedback if the locking or unlocking has been successful.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-mobilize.svg">
            <div class="feature__content">
              <h2>Mobilize & Immobilize</h2>
              <p>All vehicles are safely immobilized and are not drivable if not rented through our system. Activation of deactivation can be done with a single click with access to the backend.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-fuel.svg">
            <div class="feature__content">
              <h2>Check Battery / Fuel Level</h2>
              <p>Receive a live update on the battery or fuel level of all vehicles. Optionally prevent the return of vehicles under a certain fuel or battery level.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-track.svg">
            <div class="feature__content">
              <h2>Track Position</h2>
              <p>Finding a certain vehicle is easy. Just refresh the position and we will provide its current geo coordinates as well as its address.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-key.svg">
            <div class="feature__content">
              <h2>Check Key, Doors & Windows</h2>
              <p>Make sure your vehicles are ready to be rented when the customer does so. Check remotely if keys are in place, all windows, doors & top cases are properly closed.</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 text-right order-1 order-md-2">
        <img data-src="/img/features-car.svg" alt="Car with features">
      </div>
    </div>
    <div class="text-box text-box--left">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img data-src="/img/free-floating.jpg" data-srcset="/img/free-floating@2x.jpg 2x" alt="Free Floating" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Case Study: Free Floating Scooter Sharing</h2>
                <p>We are the market leader and supply the technology for some of the best-known brands in Europe and Asia. We offer every provider the possibility to operate assets (cars, scooters or e-scooters) in a free floating and short-term rental system. </p>
                <p>Free-floating E-Scooter Sharing is become very popular with our clients. The user will be able to enjoy individual mobility without the quest for parking space and without CO2 or noise emissions.</p>
                <p>The system works by locating and unlocking the electric Scooter through a smartphone application.The Scooter is equipped with two helmets in different sizes. Our prices are considerably below our competitors due to our lean operating structure. All Scooters are equipped with exchangeable batteries. The client or our partners will take care of the charging and battery swapping. As a result, users do not have to worry about negative aspects of electric mobility such as battery/cable handling and charging times.</p>
            </div>
        </div>
    </div>
</div>
