<footer class="footer">
  <div class="container">
      <div class="footer__wrapper row justify-content-md-between align-items-start">
          <img data-src="/img/logo-footer.svg" alt="Wunder" class="footer__logotype">
          <div>
            <h4>Wunder Carpool</h4>
            <ul>
              <li><a href="./">Die App</a></li>
              <li><a href="https://help.wunder.org/" target="_blank">Hilfe</a></li>
              <!-- <li><a href="#">Blog</a></li>-->
            </ul>

            <h4>Über Wunder</h4>
            <ul>
              <li><a href="./karriere.html">Karriere</a></li>
              <li><a href="./presse.html">Presse</a></li>
            </ul>
          </div>

          <div>
            <h4>Plattform</h4>
            <ul>
              <li><a href="./rufbus.html">Rufbus</a></li>
              <li><a href="./fleet.html">Fleet</a></li>
              <li><a href="./mitfahrgelegenheit.html">Mitfahrgelegenheit</a></li>
              <li><a href="./preise.html">Preise</a></li>
              <li><a href="./meetup.html">Meetup</a></li>
              <!-- <li><a href="#">Advertising</a></li> -->
            </ul>
          </div>

          <div>
            <h4>Headquarter</h4>
            <ul>
              <li><p>Hongkongstraße 7<br/>
                20457 Hamburg<br/>
                Deutschland</p></li>
            </ul>
            <h4>Weitere Standorte</h4>
            <ul>
              <li><a href="https://goo.gl/Gdtwc1">Bangalore</a></li>
              <li><a>Manila</a></li>
              <li><a href="https://goo.gl/wZcded">Rio de Janeiro</a></li>
            </ul>
          </div>

          <div>
            <h4>Social Media</h4>
            <ul class="footer__socialmedia">
              <li><a href="https://www.facebook.com/WunderPhilippines/"><img data-src="/img/icon-facebook.svg" alt="Facebook"></a></li>
              <li><a href="https://twitter.com/WunderCar"><img data-src="/img/icon-twitter.svg" alt="Twitter"></a></li>
              <li><a href="https://www.linkedin.com/company/wundercar-mobility-services-gmbh/"><img data-src="/img/icon-linkedin-footer.svg" alt="LinkedIn"></a></li>
              <li><a href="https://www.instagram.com/wunder_carpool/"><img data-src="/img/icon-instagram.svg" alt="Instagram"></a></li>
            </ul>
            <ul class="footer__buttons">
              <li><a href="./#contact" class="btn btn--blue" style="text-decoration: none;">Kontaktieren Sie uns</a></li>
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple-footer.svg" alt="App for Apple"/></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android-footer.svg" alt="App for Android"/></a></li>
            </ul>
          </div>
      </div>
      <div class="footer__bottom">
          <ul>
            <li>© Wunder 2018</li>
            <li><a href="/privacy.html">Datenschutz</a></li>
            <li><a href="/terms-conditions.html">Geschäftsbedingungen</a></li>
            <li><a href="/imprint.html">Impressum</a></li>
          </ul>
      </div>
  </div>
</footer>
