<header class="container header">
  <a href="/de/">
    <img data-src="/img/logo.svg" class="header__logotype" alt="Wunder">
  </a>
  <div class="header__icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- active class: current -->
  <ul class="header__nav">
    <li class="header__nav-item hvr-underline-from-left">
      <a href="/de/">Wunder-App</a>
    </li>
    <li class="header__nav-item header__nav-item-submenu " id="js-solutions">
      <a href="#" class="hvr-underline-from-left">Lösungen
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <!-- active class= is-active-->
        <ul>
          <li>
            <a href="/de/rufbus.html" class="hvr-underline-from-left">Wunder Rufbus</a>
          </li>
          <li>
            <a href="/de/fleet.html" class="hvr-underline-from-left">Wunder Fleet</a>
          </li>
          <li>
              <a href="/de/mitfahrgelegenheit.html" class="hvr-underline-from-left">Wunder Mitfahrgelegenheit</a>
          </li>
          <li>
              <a href="/de/preise.html" class="hvr-underline-from-left">Wunder Preise</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="/de/meetup.html">Meetup</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="/de/karriere.html">Karriere & Team</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="/de/presse.html">Presse</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="https://help.wunder.org/hc/en-gb" target="_blank">Hilfe</a>
    </li>
    <li class="header__nav-item header__nav-item-submenu" id="js-language">
      <a href="#" class="hvr-underline-from-left">DE
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <ul>
          <li class="is-active hvr-underline-from-left">
            <a href="/de/">Deutsch</a>
          </li>
          <li class="hvr-underline-from-left">
            <a href="/">English</a>
          </li>
          <li class=" hvr-underline-from-left">
            <a href="#">Portuguese</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
