<section class="article-listing container">
    <h3>Presseberichte</h3>
    <div class="article-listing__wrapper">
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/logo-automobilwoche.svg" data-srcset="/img/logo-automobilwoche.svg 2x" alt="Automobilwoche" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">13.09.2018</date>
                <p class="article-listing__title">Ausbau des Entwicklungsteams: Wunder Mobility besorgt sich 26 Millionen Euro.</p>
                <a target="_blank" href="https://www.automobilwoche.de/article/20180913/NACHRICHTEN/180919957/1334/ausbau-des-entwicklungsteams-wunder-mobility-besorgt-sich--millionen-euro">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/deutsche-startups.jpg" data-srcset="/img/deutsche-startups@2x.jpg 2x" alt="Deutsch Startups" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">12.09.2018</date>
                <p class="article-listing__title">11 so richtig heiße Startups, die viel mehr Menschen kennen sollten.</p>
                <a target="_blank" href="https://www.deutsche-startups.de/2018/09/12/11-so-richtig-heisse-startups/">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/focus.jpg" data-srcset="/img/focus@2x.jpg 2x" alt="Focus" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">12.09.2018</date>
                <p class="article-listing__title">Ausstellung im Schleswig-Holsteinischen Landwirtschaftsmuseum: „Nutz‘ Pflanzen richtig“ (20. September bis 14. November 2018).</p>
                <a target="_blank" href="https://www.focus.de/regional/schleswig-holstein/kreis-dithmarschen-ausstellung-im-schleswig-holsteinischen-landwirtschaftsmuseum-nutz-pflanzen-richtig-20-september-bis-14-november-2018_id_9576613.html">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/hamburg-news.jpg" data-srcset="/img/hamburg-news@2x.jpg 2x" alt="Hamburg News" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">06.09.2018</date>
                <p class="article-listing__title">Wunder Mobility erhält neues Kapital im Wert von 26 Millionen Euro.</p>
                <a target="_blank" href="https://www.hamburg-news.hamburg/de/hafen-logistik/wunder-mobility-erhaelt-neues-kapital-im-wert-von-26-millionen-euro/">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/grunderszene.jpg" data-srcset="/img/grunderszene@2x.jpg 2x" alt="Gründerszene" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">Wunder kehrt mit 26 Millionen auf den deutschen Markt zurück</p>
                <a target="_blank"  href="https://www.gruenderszene.de/automotive-mobility/wunder-finanzierung-26-millionen">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/vc-magazine.jpg" data-srcset="/img/vc-magazine@2x.jpg 2x" alt="VC Magazine" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">KCK-Group und Blumberg Capital investieren in Wunder Mobility Start-up für Mobilitätskonzepte erhält 26 Mio. EUR</p>
                <a target="_blank" href="https://www.vc-magazin.de/deals/start-up-fuer-mobilitaetskonzepte-erhaelt-26-mio-eur/">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/startup-valley.jpg" data-srcset="/img/startup-valley@2x.jpg 2x" alt="Startup Valley" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">Wunder Mobility mit neuer Finanzierung von 26 Millionen Euro</p>
                <a target="_blank" href="https://www.startupvalley.news/de/wunder-mobility-finanzierung/">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/techcrunch.jpg" data-srcset="/img/techcrunch@2x.jpg 2x" alt="TechCrunch" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">German mobility startup Wunder Mobility raises $30M Series B</p>
                <a target="_blank" href="https://techcrunch.com/2018/09/05/wunder-mobility/?guccounter=1">Artikel lesen</a>
            </div>
        </div>
        <!-- #end Item -->
    </div>
  </section>
