<div class="client-list">
    <div class="container client-list__wrapper">
        <p class="client-list__title">
            Extract Global Client List
        </p>
        <ul class="client-list__logotypes">
            <li class="order-1">
                <a href="https://www.daimler.com/en/"><img data-src="/img/logo-daimler.jpg" data-srcset="./img/logo-daimler@2x.jpg 2x" alt="Daimler" class="lazyload"></a>
            </li>
            <li class="order-3 order-md-2">
                <a href="https://www.bmw.com/"><img data-src="/img/logo-bmw.jpg" data-srcset="./img/logo-bmw@2x.jpg 2x" alt="BMW" class="lazyload"></a>
            </li>
            <li class="order-4 order-md-3">
                <a href="http://www.tata.com"><img data-src="/img/logo-tata.jpg" data-srcset="./img/logo-tata@2x.jpg 2x" alt="Tata" class="lazyload"></a>
            </li>
            <li class="order-5 order-md-4">
                <a href="https://www.wipro.com"><img data-src="/img/logo-wipro.jpg" data-srcset="./img/logo-wipro@2x.jpg 2x" alt="Wipro" class="lazyload"></a>
            </li>
            <li class="order-2 order-md-5">
                <a href="https://www.marubeni.com/en/"><img data-src="/img/logo-marubeni.png" data-srcset="./img/logo-marubeni@2x.png 2x" alt="Marubeni" class="lazyload"></a>
            </li>
            <li class="order-6 order-md-6">
                <a href="https://www.sixt.com"><img data-src="/img/logo-sixt.jpg" data-srcset="./img/logo-sixt@2x.jpg 2x" alt="Sixt" class="lazyload"></a>
            </li>
            <li class="order-7">
                <a href="https://www.vdv.de/"><img data-src="/img/logo-vdv.jpg" data-srcset="./img/logo-vdv@2x.jpg 2x" alt="VDV" class="lazyload"></a>
            </li>
        </ul>
    </div>
</div>