<div class="contact-form" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <h3>Schreiben Sie uns</h3>
            </div>
            <div class="col-sm-5">
                <p>Wir melden uns innerhalb von 24 Stunden zurück. Unser Ziel: Ihr Kickstart in eine nachhaltige Mobilität.</p>
            </div>
        </div>
        <form class="row" id="main-contact">
            <div class="col-sm-5 offset-sm-1">
                <input type="text" name="name" id="name" placeholder="Name *" required>
                <input type="email" name="email" id="email" placeholder="Email *" required>
                <input type="text" name="subject" id="subject" placeholder="Betreff">
                <input type="text" name="phone" id="phone" placeholder="Telefon">
            </div>
            <div class="col-sm-5">
                <textarea name="message" id="message" placeholder="Nachricht"></textarea>
            </div>
            <div class="col-12">
                <button type="button" id="form-submit" class="btn btn--blue">Senden</button>
            </div>
            <div class="col-12">
              <p class="form-feedback invisible">Ihre Nachricht wurde gesendet. Wir werden uns bald melden!</p>
            </div>
        </form>

        <div class="press-contact hidden">
          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="press-contact__container">
                <div class="press-contact__image">
                  <img data-src="/img/press-nora.png" class="lazyload img-responsive" alt="Nora Goette - Press Contact"/>
                </div>
                <div class="press-contact__text">
                  <div class="press-contact__content">
                    <p><strong>Pressekontakt:</strong></p>
                    <h2>Nora Goette</h2>
                    <p><strong>Handy: 0152 549 188 83<br>Telefon: 030-555 73 05 11<br><a href="mailto:wunder@schoesslers.com">E-Mail: wunder@schoesslers.com</a></strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
