<section class="faq">
    <div class="container">
        <h3>Über Wunder Mobility</h3>
        <div class="faq-list__wrapper">
          <div class="row">
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was macht Wunder Mobility?</p>
                    <p class="faq__answer accordion-content">Wunder Mobility ist ein internationaler Technologie-Zulieferer für innovative und zukunftsweisende Mobilitätskonzepte. Das Portfolio umfasst Software, Hardware sowie operative Dienstleistungen für Smart Shuttles, Fleet Management (Car-, Bike- und Scooter-Sharing) und Carpooling.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was unterscheidet Wunder Mobility von seinen Wettbewerbern?</p>
                    <p class="faq__answer accordion-content">Als einziger internationaler Full-Stack-Anbieter bietet Wunder Mobility das gesamte Spektrum der neuen Mobilitätsdienste aus einer Hand an. Die drei Lösungen ermöglichen es Privatpersonen, ihre leeren Sitze mit Personen zu teilen, die in die gleiche Richtung fahren (Wunder Carpool), professionelle Fahrer mit Fahrgästen in 6-10-sitzigen Vans zusammenzubringen  (Wunder Shuttle) oder Fahrern die Möglichkeit zu geben, Fahrzeuge (Elektroroller, Autos, Fahrräder) pro Minute zu mieten (Wunder Fleet).  Auf vier Kontinenten, in 11 Ländern und in 37 Städten ist die Technologieplattform aktiv. Dazu zählen alle großen deutschen Städte und die meisten europäischen Metropolen wie Paris, Madrid, Barcelona, Brüssel, Zürich, aber auch Rio de Janeiro, Beirut im Libanon oder Auckland in Neuseeland.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was macht die Wunder Mobility Technologie so besonders?</p>
                    <p class="faq__answer accordion-content">Wunder Mobility wickelt aktuell weltweit ca. 1 Million Fahrten pro Monat ab und das bei einer 99%igen garantierten Serververfügbarkeit. Durch diese enorme Menge an Fahrten wurden in den letzten Jahren die Prozesse stetig optimiert. Das Ergebnis: eine leistungsfähige Technologie, die  umfangreiche Mobilitätskonzepte skalierbar, flexibel und mehrsprachig umsetzt.. Die Software wird kontinuierlich weiterentwickelt und ist millionenfach erprobt.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Wie sorgt Wunder Mobility für einen sicheren Umgang mit Daten?</p>
                    <p class="faq__answer accordion-content">Wunder Mobility ist international aktiv – das Headquarter sitzt in Hamburg, wodurch Wunder die Anforderungen des europäischen Datenschutzes erfüllt. Daten werden auf Servern in der Europäischen Union gespeichert und unterliegen daher strengen Kontrollen.</p>
                </div>
              </div>
              <!-- #end Item -->
          </div>
        </div>

        <h3>Wunder Shuttle</h3>
        <div class="faq-list__wrapper">
          <div class="row">
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was versteht man unter einem Shuttle/ Rufbus?</p>
                    <p class="faq__answer accordion-content">Rufbusse, Shuttles oder Sammeltaxis fahren bedarfsorientiert – also nur, wenn sie wirklich benötigt werden. Der Service steht entweder über eine App zur Verfügung oder per Anruf. Nach Buchung sammelt ein Fahrer die Fahrgäste an einer nahen Haltestelle ein und bringt sie ans Ziel ihrer Wahl. Die Haltestelle ist entweder fix oder virtuell. Vor allem im ländlichen Raum mit wenigen Fahrgästen lohnt sich das Konzept, um eine bessere Auslastung zu gewährleisten. Aber auch in Städten sorgen solche Fahrgemeinschaften für weniger Stau und nachhaltigen Umweltschutz.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was bietet Wunder Mobility im Bereich Shuttle an?</p>
                    <p class="faq__answer accordion-content">Wunder entwickelt Konzepte zur Vereinfachung von Mobilität in Städten sowie Gemeinden und optimiert bestehende Routennetze des öffentlichen Personennahverkehrs. Dazu zählen Softwarelösungen wie Mobile App Systeme für IOS und Android Endgeräte sowohl für Fahrer und Fahrgäste, Analysesystem für den Betrieb sowie Reporting und Auslastungsanalyse. Außerdem unterstützt Wunder beim Launch der Lösung und den Operations.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Stellt Wunder Mobility selbst Rufbusse zur Verfügung?</p>
                    <p class="faq__answer accordion-content">Nein. Aber Wunder Mobility verfügt über ein starkes Netzwerk und pflegt den Kontakt zu zahlreichen Fahrzeuganbietern. Auf Wunsch vermittelt Wunder den perfekten Fahrzeugpartner.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Welche Shuttle-Projekte hat Wunder Mobility bereits realisiert?</p>
                    <p class="faq__answer accordion-content">Im Herbst 2018 geht das Pilotprojekt für Verkehrsbetriebe Bachstein GmbH auf die Straße. Hand in Hand arbeiteten Wunder Mobility und VB Bachstein an effizienteren internen Abläufen und leichteren Buchungsmöglichkeiten für Jung und Alt. Als Technologielieferant entwickelt Wunder  eine passende App für Android und iOS und stellt Analyse- sowie Service-Tools zur Verfügung.
                      <br>
                      <br>
                      Für den japanischen Zulieferer Marubeni setzte Wunder  im Jahr 2018 ein B-to-C-Projekt um. Dafür kooperiert mit lokalen Partnern und organisierte einen flexiblen Shuttle-Service. Dieser sammelt Arbeitnehmer aus derselben Wohngegend in der Nähe ihrer Haustür ein und setzt sie direkt bei ihrer Arbeitsstätte ab. Wunder  übernahm den technischen Support, die Wartung, den Launch-Prozess sowie die Operations von A bis Z.
                    </p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Welche Vorteile bietet die Digitalisierung des ÖPNV?</p>
                    <p class="faq__answer accordion-content">Die Optimierung von Fahrten vermindert Stau in Städten und somit die Umweltbelastungen. Die Organisation von Rufbussen bedeutet für ÖPNV-Anbieter zudem häufig einen ineffizienten, manuellen Aufwand. Dabei kann es so einfach sein: Die Digitalisierung der Prozesse steigert die Effizienz und verbessert somit das Kundenerlebnis. Digitale Lösungen – wie beispielsweise eine App – vereinfachen den Alltag für Menschen und sparen Betreibern Kosten. Bei der Digitalisierung arbeitet WunderHand in Hand mit dem ÖPNV-Anbieter.</p>
                </div>
              </div>
              <!-- #end Item -->

          </div>
        </div>

        <h3>Wunder Fleet</h3>
        <div class="faq-list__wrapper">
          <div class="row">
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was bedeutet Fleet-Management?</p>
                    <p class="faq__answer accordion-content">Eine Flotte, engl. Fleet, besteht aus mehreren Mietfahrzeugen. Ob Auto, Motorroller oder Fahrrad: Kunden können sich im Minuten- oder Stundentakt ein Fahrzeug mieten und eigenständig an ihr Ziel fahren. Entweder wartet das Fahrzeug an einer festen Station oder es steht free-floating auf einem gewöhnlichen Parkplatz.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was bietet Wunder Mobility im Bereich Fleet-Management?</p>
                    <p class="faq__answer accordion-content">Die Mietfahrzeuge verfügen über eine technische Box, die alle relevanten Informationen für den Fleet-Anbieter registriert. Wunder  liefert für diese Box eine selbst entwickelte, leistungsfähige Software. Die Software erlaubt es, das Fahrzeug zu orten, zu reservieren, zu kontrollieren (Unfälle, Kratzer etc. zu melden), zu starten und wieder am Ziel zu verriegeln.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Welche Bike-, Car- und Scooter-Sharing-Projekte hat Wunder Mobility bereits umgesetzt?</p>
                    <p class="faq__answer accordion-content">Wunder liefert seine Technologie bereits führenden europäischen Sharing-Anbietern.</p>
                </div>
              </div>
              <!-- #end Item -->

          </div>
        </div>

        <h3>Wunder Carpool</h3>
        <div class="faq-list__wrapper">
          <div class="row">
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was versteht man unter Carpool/ Mitfahrgelegenheiten?</p>
                    <p class="faq__answer accordion-content">Fahrer nehmen in ihrem privaten Wagen Mitfahrer mit an ihr Ziel.  Der Dienst wird vor allem für kurze Distanzen, wie die täglichen Fahrten zum Arbeitsplatz eingesetzt. Die Fahrtkosten sind fix und erlauben es so dem Fahrer, die Unterhaltskosten zu decken, ermöglichen allerdings keinen Gewinn. Bezahlt wird in der App über gängige Payment-Anbieter.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Was bietet Wunder Mobility im Bereich Carpooling/ Mitfahrgelegenheit?</p>
                    <p class="faq__answer accordion-content">Für die erfolgreiche Vermittlung von Mitfahrgelegenheiten in großen, dicht besiedelten Städten mit hohem Verkehrsaufkommen hat Wunder Mobility eine App entwickelt. Ihr Ziel: Eine Fahrt, die weder für den Fahrer noch für den Mitfahrer einen Umweg bedeutet. Mit 4 Jahren Erfahrung hat das Wunder Tech-Team die optimalen Parameter für solch einen perfekten „Match“ erforscht.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">In welchen Ländern und Städten bietet Wunder Mobility Carpooling/ Mitfahrgelegenheiten an?</p>
                    <p class="faq__answer accordion-content">Seit der Gründung im Jahr 2014 agierte Wunder zunächst als klassischer Ridesharing-Dienst in Europa. Seit 2015 setzt das Team Konzepte für Fahrgemeinschaften in der ganzen Welt um – zum Beispiel in Frankreich, Spanien, Brasilien, im Libanon, in den USA und auf den Philippinen.</p>
                </div>
              </div>
              <!-- #end Item -->
              <!-- Item -->
              <div class="col-12">
                <div class="faq__item">
                    <p class="faq__question accordion-title">Warum ist das Geschäftsmodell in Deutschland nur partiell einsatzfähig?</p>
                    <p class="faq__answer accordion-content">Laut §1 des Personenbeförderungsgesetzes sind Mitfahrgelegenheiten legal, wenn sie kostendeckend sind. Sie werden nicht staatlich gefördert und ermöglichen somit keinen Gewinn für den Fahrer. Wunder setzt sich seit Jahren für die Entschärfung des Gesetzes ein und steht im regelmäßigen Austausch mit dem Bundestag und Meinungsführern.</p>
                </div>
              </div>
              <!-- #end Item -->

          </div>
        </div>

    </div>
</section>
