<section class="press-kit">
    <div class="container">
        <h3>Pressemappe herunterladen</h3>
        <div class="row">
            <!-- Item -->
            <div class="col-sm-6 mb-2 press-kit__item">
                <p class="press-kit__title">Unternehmensprofil</p>
                <p class="press-kit__description">Finden Sie unsere Unternehmensprofil hier</p>
                <a href="/img/unternehmensprofil_wundermobility-0918.pdf" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class=" col-sm-6 mb-2 press-kit__item">
                <p class="press-kit__title">Fact Sheet</p>
                <p class="press-kit__description">Finden Sie alle Fakten über unser Produkt und das Unternehmen</p>
                <a href="/img/factsheet_de_wundermobility-0918.pdf" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class=" col-sm-6 press-kit__item">
                <p class="press-kit__title">Gründerstory</p>
                <p class="press-kit__description">Finden Sie die Gründerstory hier</p>
                <a href="/img/grunderstory_wundermobility-0918.pdf" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class=" col-sm-6 press-kit__item">
                <p class="press-kit__title">Bildmaterial</p>
                <p class="press-kit__description">Logos und C-Level Fotos finden</p>
                <a href="https://drive.google.com/drive/folders/1ihj2j4f4MqbhqpcydPIrBX2f4d-8sA2d" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
        </div>
    </div>
</section>
