<section class="press-kit">
    <div class="container">
        <h3>Pressemappe herunterladen</h3>
        <div class="row">
            <!-- Item -->
            <div class="col-md-4 col-sm-6 press-kit__item">
                <p class="press-kit__title">Faktenblatt</p>
                <p class="press-kit__description">Finden Sie alle Fakten über unser Produkt und das Unternehmen</p>
                <a href="/img/180713FactsheetGerman.pdf" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="col-md-4 col-sm-6 press-kit__item">
                <p class="press-kit__title">Markenwerte</p>
                <p class="press-kit__description">Logos für Wunder finden</p>
                <a href="https://drive.google.com/drive/folders/12WqHoTyoOCb-OHYtc9vXnjljViwaDH3n?usp=sharing" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="col-md-4 col-sm-6 press-kit__item">
                <p class="press-kit__title">Fotos</p>
                <p class="press-kit__description">Produkte und Teamfotos finden</p>
                <a href="https://drive.google.com/drive/folders/1ihj2j4f4MqbhqpcydPIrBX2f4d-8sA2d?usp=sharing" target="_blank">Herunterladen</a>
            </div>
            <!-- #end Item -->
        </div>
    </div>
</section>
