<div class="pricing-list container">
    <h3>Produktspezifische Features</h3>
    <div class="pricing-list__wrapper row">
      <!-- Pricing List Item -->
      <div class="col-md-4">
        <div class="pricing-list__item">
          <h3>Mitfahrgelegenheit</h3>
          <img data-src="/img/price-carpool.svg" alt="Carpool">
          <hr>
          <ul class="pricing-list__listing">
            <li>Eine App für Fahrer und Mitfahrer</li>
            <li>Aussagekräftige Benutzerprofile</li>
            <li>Bewertungssystem für Fahrer und Mitfahrer</li>
            <li>Verifikation von Benutzereingaben</li>
            <li>Notfallsystem</li>
            <li>Individuelle Routen</li>
            <li>Gruppenbildung auf denselben Strecken</li>
          </ul>
          <div class="pricing-list__footer">
            <a href="carpool">Mehr Infos</a>
            <div class="pricing-list__btn">
              <p class="pricing-list__price">1€</p>
              <span>monatlich pro User*</span>
            </div>
          </div>
        </div>
      </div>
      <!-- #End Pricing List Item -->
      <!-- Pricing List Item -->
      <div class="col-md-4">
          <div class="pricing-list__item">
            <h3>Fleet</h3>
            <img data-src="/img/price-fleet.svg" alt="Carpool">
            <hr>
            <ul class="pricing-list__listing">
              <li>Hardware-Anbindung</li>
              <li>Fahrzeuge via App finden, reservieren und öffnen </li>
              <li>Dokumentation von Fahrzeugschäden</li>
              <li>Unterstützung verschiedener Fahrzeugtypen </li>
              <li>Fahrzeug-Checks: Batterie / Tankfüllung, Schlüssel, Türen & Fenster</li>
              <li>Kunden-Management: Registrierung, Bezahlung, Nutzerrechte, Führerschein-Überprüfung</li>
              <li>Rechnungen & Bezahlung</li>
              <li>Zugang der Programmierschnittstelle für externe Entwickler über unsere API</li>
            </ul>
            <div class="pricing-list__footer">
              <a href="fleet">Mehr Infos</a>
              <div class="pricing-list__btn">
                <p class="pricing-list__price">17€</p>
                <span>monatlich pro Fahrzeug*</span>
              </div>
            </div>
          </div>
        </div>
        <!-- #End Pricing List Item -->
        <!-- Pricing List Item -->
        <div class="col-md-4">
          <div class="pricing-list__item">
            <h3>Rufbus</h3>
            <img data-src="/img/price-car-sharing.svg" alt="Carpool">
            <hr>
            <ul class="pricing-list__listing">
              <li>Spezielle Fahrer-App: Routenplanung und Fahrgast-Management </li>
              <li>Feste Abholpunkte für Fahrgäste möglich</li>
              <li>Fahrer- und Fahrgast-Live-Tracking</li>
              <li>Automatischer Versand / Dispatch von Fahrzeugen</li>
            </ul>
            <div class="pricing-list__footer">
              <a href="shuttle">Mehr Infos</a>
              <div class="pricing-list__btn">
                <p class="pricing-list__price">49€</p>
                <span>monatlich pro Fahrzeug*</span>
              </div>
            </div>
          </div>
        </div>
        <!-- #End Pricing List Item -->
    </div>
    <p class="pricing-list__note">*Monatliche Lizenzen für XL-Projekte: Mitfahrgelegenheiten mit 10.000 Nutzern, Flotten-Management mit 1.000 Fahrzeugen, Rufbusse mit 1.000 Fahrzeugen</p>
  </div>
