<div class="job-list container">

  <div class="job-filters row">

    <div class="job-filter col">
      <p class="job-filter__type">City</p>
      <div class="select-wrapper">
        <select class="location-select">
          <option>All Locations</option>
          <option value="Hamburg">Hamburg</option>
          <option value="Dortmund">Dortmund</option>
          <option value="Manila">Manila</option>
          <option value="Delhi">Delhi</option>
          <option value="Rio">Rio de Janeiro</option>
        </select>
      </div>
    </div>

    <div class="job-filter col">
      <p class="job-filter__type">Team</p>
      <div class="select-wrapper">
        <select class="team-select">
          <option>All Teams</option>
          <option>Engineering</option>
          <option>Product</option>
          <option>Data</option>
          <option>Design</option>
          <option>Communication & PR</option>
          <option>Marketing & Growth</option>
          <option>Finance & Legal</option>
          <option>Talent</option>
          <option>Business Development</option>
          <option>Agile</option>
        </select>
      </div>
    </div>

    <!-- NO ACCESS TO COMMITMENT FROM GREENHOUSE
    <div class="job-filter col">
      <p class="job-filter__type">Commitment</p>
      <div class="select-wrapper">
        <select class="commitment-select">
          <option>All Commitments</option>
        </select>
      </div>
    </div>
    -->
  </div>

  <div class="job-list__listing row">
    <!-- job list from Greenhouse API -->
    <div class="job-list__item">
      <div class="row job-item-row">
        <a class="job-title col-sm-4 col-12" target="_blank" href="#"></a>
        <div class="job-details col-sm-2 col-12">
          <p class="job-detail job-category"></p>
          <p class="job-detail job-location"></p>
        </div>
        <p class="job-excerpt col-sm-6 col-12"></p>
      </div>
    </div>

  </div>

</div>
