<div class="container">
  <div class="landing-grid">
    <div class="landing-grid__wrapper">
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content">
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-once="true">
            <h2>Our Vision</h2>
            <p>To enable communities globally to deploy new mobility services fast!</p>
          </div>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image long">
        <img data-src="/img/careers/vision.jpg" data-srcset="/img/careers/vision@2x.jpg 2x" class="lazyload" alt="Man in Wunder t-shirt skydiving" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image xs-50">
        <img data-src="/img/careers/impact_delhi.jpg" data-srcset="/img/careers/impact_delhi@2x.jpg 2x" class="lazyload" alt="Polluted and hazy street in Delhi" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image xs-50">
        <img data-src="/img/careers/impact_manila.jpg" data-srcset="/img/careers/impact_manila@2x.jpg 2x" class="lazyload" alt="Busy street in Manila with lots of traffic" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content">
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-once="true">
            <h2>Our Impact</h2>
            <p>Our technology is used in over 30 cities across Asia, Europe, South America and North America.</p>
          </div>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content stat">
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-once="true">
            <h2>12,000kg</h2>
            <p>CO<sub>2</sub> was reduced in Delhi, one of the most polluted cities in the world just last month.</p>
          </div>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content stat">
          <div data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom" data-aos-once="true">
            <h2>30,000+</h2>
            <p>cars are taken off the road daily in Manila, one of the most congested cities in the world.</p>
          </div>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image hidden-xs">
        <img data-src="/img/careers/impact_3.jpg" data-srcset="/img/careers/impact_3@2x.jpg 2x" class="lazyload" alt="Full car of people carpooling and laughing" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image xs-50">
        <img data-src="/img/careers/our_values_ben.jpg" data-srcset="/img/careers/our_values_ben@2x.jpg 2x" class="lazyload" alt="because we share neon sign" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image xs-50">
        <img data-src="/img/careers/our_values_devran.jpg" data-srcset="/img/careers/our_values_devran@2x.jpg 2x" class="lazyload" alt="Devran working hard" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text transparent">
        <div class="landing-grid__content">
          <div data-aos="fade-up" data-aos-once="true">
            <h2>Our Values</h2>
            <p>We believe in disruption and challenge the status quo in everything we do. While having fun!</p>
            <a class="with-arrow" href='culture.html'>Learn more</a>
          </div>
        </div>
      </div>
      <!-- #End Grid Item -->
    </div>
  </div>
</div>
