<div class="container">
  <div class="landing-grid">
    <div class="landing-grid__wrapper">
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content">
          <h2>Our Vision</h2>
          <p>To enable communities globally to deploy new mobility services fast!</p>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image">
        <img data-src="/img/becauseweshare.jpg" data-srcset="/img/becauseweshare.jpg 2x" class="lazyload" alt="because we share neon sign" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image">
        <img data-src="/img/devran.jpg" data-srcset="/img/devran.jpg 2x" class="lazyload" alt="Devran working hard" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image">
        <img data-src="/img/delhi.png" data-srcset="/img/delhi.png 2x" class="lazyload" alt="Polluted and hazy street in Delhi" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image">
        <img data-src="/img/traffic.png" data-srcset="/img/traffic.png 2x" class="lazyload" alt="Busy street in Manila with lots of traffic" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content">
          <h2>Our Impact</h2>
          <p>Our technology is used in over 30 cities across Asia, Europe, South America and North America.</p>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content stat">
          <h2>6,000kg</h2>
          <p>of CO<sub>2</sub> is reduced monthly in Delhi, one of the most polluted cities in the world.</p>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content stat">
          <h2>30,000+</h2>
          <p>cars are taken off the road daily in Manila. one of the most congested cities in the world.</p>
        </div>
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image">
        <img data-src="/img/shuttle.png" data-srcset="/img/shuttle.png 2x" class="lazyload" alt="Full car of people carpooling and laughing" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__image long">
        <img data-src="/img/philipp.png" data-srcset="/img/philipp.png 2x" class="lazyload" alt="Man in Wunder t-shirt skydiving" />
      </div>
      <!-- #End Grid Item -->
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content">
          <h2>Our Values</h2>
          <p>We like to take risks and try new things. We work in a world free of judgement and find fun in all we do!</p>
        </div>
      </div>
      <!-- #End Grid Item -->
    </div>
  </div>
</div>
