<div class="container">
  <div class="other-locations">
    <h2 class="page-heading">Offices around the world</h2>
    <div class="other-locations__row">
      <div class="flex-image">
        <img data-src="/img/careers/dortmund_2.png" data-srcset="/img/careers/dortmund_2@2x.png 2x" class="lazyload" alt="Dortmund by night" />
      </div>
      <div class="other-locations__content">
        <h3>Dortmund, <span class="thin">Germany</span></h3>
        <p>Home to our Fleet product, the only thing that matches up to our local team's passion to solve mobility, is probably football!</p>
      </div>
    </div>
    <div class="other-locations__row image-right">
      <div class="other-locations__content">
        <h3>Manila, <span class="thin">Philippines</span></h3>
        <p>Manila is home to some of the most urgent problems being faced by mobility as an industry. Our community in this city helps us create the best solutions in the world.</p>
      </div>
      <div class="flex-image right">
        <img data-src="/img/careers/manila_1.png" data-srcset="/img/careers/manila_1@2x.png 2x" class="lazyload" alt="Manila skyline at night" />
      </div>
    </div>
    <div class="other-locations__row">
      <div class="flex-image">
        <img data-src="/img/careers/rio_2.png" data-srcset="/img/careers/rio_2@2x.png 2x" class="lazyload" alt="Dortmund by night" />
      </div>
      <div class="other-locations__content">
        <h3>Rio de Janeiro, <span class="thin">Brazil</span></h3>
        <p>Known as the city that sets trends in all of LATAM, Rio is our bet on the future of mobility in the region and in less than a year, we're already leading the pack!</p>
      </div>
    </div>
    <div class="other-locations__row image-right">
      <div class="other-locations__content">
        <h3>Delhi, <span class="thin">India</span></h3>
        <p>One of the most polluted cities in the world, Delhi is in dire need of help and our local team there is working round the clock in order to make it happen with our carpooling solution.</p>
      </div>
      <div class="flex-image">
        <img data-src="/img/careers/delhi_1.png" data-srcset="/img/careers/delhi_1@2x.png 2x" class="lazyload" alt="Dehli autos at sunset" />
      </div>
    </div>

  </div>
</div>
