<div class="container">
  <div class="our-teams">
    <h2 class="page-heading">What's your passion?</h2>
    <div class="our-teams__grid">
      <!-- #Start Team Item -->
      <a href="jobs.html?team=engineering" class="our-teams__item" title="See engineering positions">
        <img data-src="/img/careers/teams_01.svg" />
        <h4>Engineering</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=product" class="our-teams__item">
          <img data-src="/img/careers/teams_02.svg" />
          <h4>Product</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=analytics" class="our-teams__item">
        <img data-src="/img/careers/teams_03nt.svg" />
        <h4>Data</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=design" class="our-teams__item">
        <img data-src="/img/careers/teams_04.svg" />
        <h4>Design</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=marketing" class="our-teams__item">
        <img data-src="/img/careers/teams_07.svg" />
        <h4>Marketing</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=communications" class="our-teams__item">
        <img data-src="/img/careers/teams_05.svg" />
        <h4>Communications<br> & PR</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=finance" class="our-teams__item">
        <img data-src="/img/careers/teams_08.svg" />
        <h4>Finance<br> & Legal</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=talent" class="our-teams__item">
        <img data-src="/img/careers/teams_09.svg" />
        <h4>Talent</h4>
      </a>
      <!-- #End Team Item -->
      <!-- #Start Team Item -->
      <a href="jobs.html?team=business" class="our-teams__item">
        <img data-src="/img/careers/teams_10.svg" />
        <h4>Business Development</h4>
      </a>
      <!-- #End Team Item --><!-- #Start Team Item -->
      <a href="jobs.html?team=marketing" class="our-teams__item">
        <img data-src="/img/careers/teams_11.svg" />
        <h4>Operations</h4>
      </a>
      <!-- #End Team Item -->
    </div>
  </div>
</div>
