<div class="container">
  <div class="team-spirit image-captions">
    <h2 class="page-heading">We believe in communities because we are one</h2>
    <div class="image-captions__grid">
      <!-- #Start Image-Caption Item -->
      <div class="image-captions__item">
        <div class="image-captions__image">
          <img data-srcset="/img/careers/team_spirit_team_events__happy_hour.jpg 1x, /img/careers/team_spirit_team_events__happy_hour@2x.jpg 2x" class="lazyload" />
        </div>
        <div class="image-captions__content">
          <div class="image-captions__title">
            <img data-src="/img/careers/team-spirit-01.svg" />
            <h3>Team Events & Happy Hour</h3>
          </div>
          <p>We want every employee to be happy and this extends outside work hours. We throw team events every month and Friday beer o'clock has become a Wunder happy hour tradition!</p>
        </div>
      </div>
      <!-- #End Image-Caption Item -->
      <!-- #Start Image-Caption Item -->
      <div class="image-captions__item">
        <div class="image-captions__image">
          <img data-src="/img/careers/team_spirit_code_cafe.jpg" data-srcset="/img/careers/team_spirit_code_cafe@2x.jpg 2x" alt="Sitting around some macbooks with coffee and muffins" class="lazyload"  />
        </div>
        <div class="image-captions__content">
          <div class="image-captions__title">
            <img data-src="/img/careers/team-spirit-03.svg" />
            <h3>Code Cafe</h3>
          </div>
          <p>Wunder Engineering goes beyond the curly brackets of our code. Facilitated by our the tech team, Code Cafe strives to create a relaxed environment where developers can break the divide between different technologies in a comfortable setting!</p>
        </div>
      </div>
      <!-- #End Image-Caption Item -->
      <!-- #Start Image-Caption Item -->
      <div class="image-captions__item">
        <div class="image-captions__image">
          <img class="lazyload"  data-src="/img/careers/culture_page_team_spirit_meet_ups.jpg" data-srcset="/img/careers/culture_page_team_spirit_meet_ups@2x.jpg 2x" alt="Some awesome people looking smart and having an interesting chat" />
        </div>
        <div class="image-captions__content">
          <div class="image-captions__title">
            <img data-src="/img/careers/team-spirit-04.svg" />
            <h3>Meet-ups</h3>
          </div>
          <p>We are dedicated to connecting the German tech community. We host regular meet-ups in our stunning office space in HafenCity and bring together professionals with similar interests and passions.</p>
          <a href="http://meetu.ps/e/G6Nhj/zM2B0/a" class="with-arrow">PyData Hamburg 2018</a><br>
          <a href="https://www.meetup.com/meetupai-Hamburg/events/256232564/" class="with-arrow">AI Meetup</a>
        </div>
      </div>
      <!-- #End Image-Caption Item -->
      <!-- #Start Image-Caption Item -->
      <div class="image-captions__item">
        <div class="image-captions__image">
          <img class="lazyload"  data-src="/img/careers/culture_page_team_spirit_wms.jpg" data-srcset="/img/careers/culture_page_team_spirit_wms@2x.jpg 2x" alt="Crowd of people watching a presentation at the Wunder Mobility Summit" />
        </div>
        <div class="image-captions__content">
          <div class="image-captions__title">
            <img data-src="/img/careers/team-spirit-05.svg" />
            <h3>Wunder Mobility Summit</h3>
          </div>
          <p>Wunder Mobility Summit is a first-of-its-kind conference that brings together stalwarts of the mobility industry from across the world. With over 300 international experts, the Wunder Mobility Summit is the largest, most exclusive conference of its kind in Germany.</p>
          <a href="https://wundermobilitysummit.splashthat.com/" class="with-arrow">WMS18 Homepage</a><br>
          <a href="https://www.youtube.com/watch?v=oFUBuJ1IsPE" class="with-arrow">WMS18 Aftermovie</a>
        </div>
      </div>
      <!-- #End Image-Caption Item -->
    </div>
  </div>
</div>
