<div class="container">
  <div class="wunder-values ">
    <h2>Wunder Values</h2>
    <div class="wunder-values__grid">
      <!-- #Start Value Item -->
      <div class="wunder-values__item">
        <img data-src="/img/values_01.svg" />
        <h4>Quality</h4>
        <p>We build our own masterpiece</p>
      </div>
      <!-- #End Value Item -->
      <!-- #Start Value Item -->
      <div class="wunder-values__item">
        <img data-src="/img/values_02.svg" />
        <h4>Speed</h4>
        <p>We get it done</p>
      </div>
      <!-- #End Value Item -->
      <!-- #Start Value Item -->
      <div class="wunder-values__item">
        <img data-src="/img/values_03.svg" />
        <h4>People</h4>
        <p>Our employees are our biggest asset</p>
      </div>
      <!-- #End Value Item -->
      <!-- #Start Value Item -->
      <div class="wunder-values__item">
        <img data-src="/img/values_04.svg" />
        <h4>Trust</h4>
        <p>Trust is the foundation in releasing our full potential</p>
      </div>
      <!-- #End Value Item -->
      <!-- #Start Value Item -->
      <div class="wunder-values__item">
        <img data-src="/img/values_05.svg" />
        <h4>Impact</h4>
        <p>Life is short, we want to make a difference</p>
      </div>
      <!-- #End Value Item -->
      <!-- #Start Value Item -->
      <div class="wunder-values__item">
        <img data-src="/img/values_06.svg" />
        <h4>Ownership</h4>
        <p>Wunder belongs to all of us</p>
      </div>
      <!-- #End Value Item -->
    </div>
  </div>
</div>
