<div class="job-list container">

  <div class="job-filters row">

    <div class="job-filter col">
      <p class="job-filter__type">City</p>
      <div class="select-wrapper">
        <select class="location-select">
          <option>All Locations</option>
        </select>
      </div>
    </div>

    <div class="job-filter col">
      <p class="job-filter__type">Team</p>
      <div class="select-wrapper">
        <select class="team-select">
          <option>All Teams</option>
        </select>
      </div>
    </div>

    <div class="job-filter col">
      <p class="job-filter__type">Commitment</p>
      <div class="select-wrapper">
        <select class="commitment-select">
          <option>All Commitments</option>
        </select>
      </div>
    </div>

  </div>

  <div class="job-list__listing">
    <!-- job list from Greenhouse API -->
    <script id="job-item" type="text/html">
      <div class="job-list__item">
        <p class="job-title"></p>
        <div class="job-details">
          <p class="job-detail job-category"></p>
          <p class="job-detail job-location"></p>
        </div>
        <p class="job-excerpt"></p>
      </div>
    </script>

  </div>

</div>
