{% include partials/global/_head.html %}
<body class="de">
  {% include partials/global/_header.html %}

  <main class="overview">
      {% include partials/banner/_banner-overview.html %}
      {% include partials/_client-list.html %}
      {% include partials/shuttle-options/_shuttle-options--overview.html %}
      {% include partials/_locations-map.html %}
      {% include partials/slider/_shuttle-process-slider.html %}
      <div class="press-logotypes container">
        <h3>Bekannt aus</h3>
        <picture>
          <source media="(max-width: 768px)" data-srcset="/img/press-logotypes-mobile.jpg 1x, /img/press-logotypes-mobile@2x.jpg 2x" class="lazyload"></source>
          <img data-src="/img/press-logotypes.jpg" data-srcset="/img/press-logotypes@2x.jpg 2x" alt="Press Logotypes" class="lazyload">
        </picture>
        <a href="./press.html">Alle Presse-Erwähnungen ansehen</a>
      </div>
      {% include partials/_contact-form.html %}
  </main>

  {% include partials/global/_footer.html %}
  {% include partials/global/_foot.html %}
</body>
</html>
