{% include partials/global/_head.html %}

<body class="de" data-menu="5">
    {% include partials/global/_header.html %}
    <main class="press">
        {% include partials/banner/_banner-press.html %}
        {% include partials/_press-kit.html %}
        {% include partials/_article-listing.html %}
        {% include partials/slider/_press-slider.html %}

        <section class="article-listing container">
          <h3>Pressemitteilungen</h3>
          <div class="article-listing__wrapper">
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="/img/wundermobility-black.svg" alt="Wunder Logo">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">12.10.2018</date>
                    <p class="article-listing__title">Wunder Mobility übernimmt den Marktführer für Car- und Scootersharing-Technologie Fleetbird</p>
                    <a target="_blank" href="/img/Wunder_Akquisition_Fleetbird_Okt2018.pdf">Artikel lesen</a>
                </div>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="/img/wundermobility-black.svg" alt="Wunder Logo">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">05.09.2018</date>
                    <p class="article-listing__title">Wunder Mobility mit neuer Finanzierung von 26 Millionen Euro</p>
                    <a target="_blank" href="/img/wundermobility_seriesb_finanzierung.pdf">Artikel lesen</a>
                </div>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="/img/wundermobility-black.svg" alt="Wunder Logo">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">19.10.2017</date>
                    <p class="article-listing__title">Autotech Meetup</p>
                    <a target="_blank" href="https://drive.google.com/file/d/0B3B9Gsf0a0LTcTA4RXVRX1Z2Y29JQXFoN1NhMHlDTDh0dDZr/view?usp=sharing">Artikel lesen</a>
                </div>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="/img/wundermobility-black.svg" alt="Wunder Logo">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">14.09.2017</date>
                    <p class="article-listing__title">CO2 Einsparungen durch Carpooling</p>
                    <a target="_blank" href="https://drive.google.com/file/d/0B3B9Gsf0a0LTX2lZMFIxajlZSDVjQ1JTVkcwNkZEaE1nbjA4/view?usp=sharing">Artikel lesen</a>
                </div>
            </div>
            <!-- #end Item -->
          </div>
      </section>

      {% include partials/_contact-form.html %}
    </main>
    {% include partials/global/_footer.html %} {% include partials/global/_foot.html %}
</body>

</html>
