{% include partials/global/_head.html %}

<body class="de" data-menu="4">
    {% include partials/global/_header.html %}
    <main class="press">
        {% include partials/banner/_banner-press.html %}
        {% include partials/_press-kit.html %}
        <section class="article-listing container">
            <h3>Presseberichte</h3>
            <div class="article-listing__wrapper">
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/deccan-herald.jpg" data-srcset="/img/deccan-herald@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">30.04.2018</date>
                        <p class="article-listing__title">Metroleben: Carpooling ist keine Seltenheit mehr.</p>
                        <a href="https://www.deccanherald.com/metrolife/carpooling-not-so-rare-anymore-667313.html">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/autos.jpg" data-srcset="/img/autos@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">12.01.2018</date>
                        <p class="article-listing__title">Zwischen Taxi und Massentransport: Smart Shuttles</p>
                        <a href="https://www.heise.de/autos/artikel/Zwischen-Taxi-und-Massentransport-Smart-Shuttles-3926382.html">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/wirtschafts-woche.jpg" data-srcset="/img/wirtschafts-woche@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">10.01.2018</date>
                        <p class="article-listing__title">Ride-sharing erlebt 2018 den Durchbruch</p>
                        <a href="http://gruender.wiwo.de/kolumne-ride-sharing-erlebt-2018-den-durchbruch/2/">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/get-mobility.jpg" data-srcset="/img/get-mobility@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">10.01.2018</date>
                        <p class="article-listing__title">Wunder will sich mit Smart-Shuttle Dienst in Europa postionieren</p>
                        <a href="http://getmobility.de/20171205-wunder-will-sich-mit-smart-shuttle-dienst-in-europa-positionieren/">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/ngin.jpg" data-srcset="/img/ngin@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">10.01.2018</date>
                        <p class="article-listing__title">Zurück nach Deutschland – Wie das Carpooling-Startup Wunder den Neustart plant</p>
                        <a href="https://ngin-mobility.com/artikel/wunder-shuttles-software/">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/get-mobility.jpg" data-srcset="/img/get-mobility@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">12.09.2017</date>
                        <p class="article-listing__title">Deutsches Startup Wunder Carpool kooperiert mit Toyota</p>
                        <a href="http://getmobility.de/20170912-zukunft-der-geteilten-urbanen-mobilitat-deutsches-startup-wunder-carpool-kooperiert-mit-toyota/">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/get-mobility.jpg" data-srcset="/img/get-mobility@2x.jpg 2x" alt="Deccan Herald" class="lazyload">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">07.09.2017</date>
                        <p class="article-listing__title">Startup der Woche - Wunder</p>
                        <a href="https://www.automobilwoche.de/article/20170907/NACHRICHTEN/170909910/start-up-der-woche---wunder-bequem-und-einfach-pendeln-per-app">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
            </div>

            <h3>Pressemitteilungen</h3>
            <div class="article-listing__wrapper">
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/logo-mobile.svg" alt="Deccan Herald">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">19.10.2017</date>
                        <p class="article-listing__title">Autotech Meetup</p>
                        <a href="https://drive.google.com/file/d/0B3B9Gsf0a0LTcTA4RXVRX1Z2Y29JQXFoN1NhMHlDTDh0dDZr/view?usp=sharing">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
                <!-- Item -->
                <div class="article-listing__item row">
                    <div class="col-md-3 article-listing__image">
                        <img data-src="/img/logo-mobile.svg" alt="Deccan Herald">
                    </div>
                    <div class="col-md-9">
                        <date class="article-listing__date">14.09.2017</date>
                        <p class="article-listing__title">CO2 Einsparungen durch Carpooling</p>
                        <a href="https://drive.google.com/file/d/0B3B9Gsf0a0LTX2lZMFIxajlZSDVjQ1JTVkcwNkZEaE1nbjA4/view?usp=sharing">Read article</a>
                    </div>
                </div>
                <!-- #end Item -->
            </div>
        </section>
        {% include partials/slider/_press-slider.html %}
        <div class="container press-logotypes">
            <picture>
                <source media="(max-width: 768px)" data-srcset="/img/press-logotypes-2-mobile.jpg 1x, ./img/press-logotypes-2-mobile@2x.jpg 2x" class="lazyload"></source>
                <img data-src="/img/press-logotypes-2.jpg" data-srcset="/img/press-logotypes-2@2x.jpg 2x" alt="Press Logotypes" class="lazyload">
            </picture>
        </div>
        <div class="about-wunder container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1 about-wunder__content">
                    <h3>Über wunder</h3>
                    <p>2014 in Hamburg, Deutschland gegründet, ist Wunder heute die weltweit führende innerstädtische Carpooling-Plattform und Technologiepartner der internationalen Automobilindustrie.</p>
                    <p>Die Wunder-App verbindet Pendler in großen, dichtbesiedelten Städte mit hohem Verkehrsaufkommen mit Fahrern, die noch freie Sitzplätze in ihren Autos haben. Mit nur drei Klicks ist jeder Fahrzeugbesitzer in der Lage sich zu registrieren und wird danach sofort mit möglichen Passagieren verbunden, die in dieselbe Richtung möchten. Im Vergleich zu professionellen Taxis erwirtschaften Carpooling-Fahrer keinen Gewinn, sondern es geht vor allem darum, die Kosten der Fahrt mit anderen Menschen zu teilen. Gleichzeitig reduziert Carpooling mit Wunder den Verkehr und die CO2 Belastung.</p>
                </div>
                <div class="col-md-6 order-1 order-md-2 about-wunder__image">
                    <img data-src="/img/about-wunder.jpg" data-srcset="/img/about-wunder@2x.jpg 2x" alt="About Wunder" class="lazyload">
                </div>
                <div class="about-wunder__blocks order-3 order-md-1">
                    <div class="about-wunder__block">
                        <h3>2014</h3>
                        <p>Jahr der Gründung Wunders</p>
                    </div>
                    <div class="about-wunder__block">
                        <h3>50+</h3>
                        <p>herausragende Angestellte</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container video text-center">
            <h3>Carpooling erklärt</h3>
            <div class="responsive-video">
                <iframe src="https://player.vimeo.com/video/206549984?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        {% include partials/_contact-form.html %}
    </main>
    {% include partials/global/_footer.html %} {% include partials/global/_foot.html %}
</body>

</html>
