<div class="absolute-header">
  <header class="container header">
    <div class="grouped-logo">
      <a href="/">
        <img data-src="/img/careers/wunder-mobility-white.svg" class="header__logotype" alt="Wunder">
      </a>
      <div class="dividing-line"></div>
      <a href="/careers/">
        <img data-src="/img/careers/careers-white.svg" class="header__logotype-sublogo" alt="Wunder">
      </a>
    </div>
    <div class="header__icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- active class: current -->
    <ul class="header__nav">
      <li class="header__nav-item hvr-underline-from-left">
        <a href="culture.html">Culture</a>
      </li>
      <li class="header__nav-item hvr-underline-from-left">
        <a href="locations.html">Locations</a>
      </li>
      <li class="header__nav-item hvr-underline-from-left">
        <a href="jobs.html">Jobs</a>
      </li>
    </ul>
  </header>
</div>
