<div class="absolute-header">
  <header class="container header">
    <a href="/careers/">
      <img data-src="/img/wunder-mobility-careers-logo.svg" class="header__logotype" alt="Wunder">
    </a>
    <div class="header__icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- active class: current -->
    <ul class="header__nav">
      <li class="header__nav-item hvr-underline-from-left">
        <a href="jobs.html">Jobs</a>
      </li>
      <li class="header__nav-item hvr-underline-from-left">
        <a href="jobs.html">Teams</a>
      </li>
      <li class="header__nav-item hvr-underline-from-left">
        <a href="culture.html">Culture</a>
      </li>
    </ul>
  </header>
</div>
