<div class="container icons-text">

  <div class="row icons-text__description">
    <div class="offset-md-2 col-md-2">
      <h2 class="text-right-md">WUNDER AUTOTECH MEETUP</h2>
    </div>
    <div class="col-md-6">
      <p class="text-left">We are hosting a quarterly informal, invitation-only meet-up for leaders of the European AutoTech scene. Our mission is to accelerate the world's transition to sustainable transportation. By providing a platform to startups, corporates, NGOs and research institutions to share and build on each others ideas we hope to get there faster.</p>
    </div>
  </div>
  <div class="row icons-text__icons">
    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="./img/icon-dateplace.svg" />
      <h2>Date & Place</h2>
      <p>A quarterly, informal, week-day evening gathering hosted at the Wunder HQ in Hamburg, Germany.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="./img/icon-speeches.svg" />
      <h2>Speeches</h2>
      <p>3 Speakers each give a 15-minute "off the record" talk, sharing their bold idea about the future of mobility.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="./img/icon-networking.svg" />
      <h2>Networking</h2>
      <p>Talks are followed by informal networking with food, drinks & entertainment.</p>
    </div>
  </div>
</div>
