<div class="container icons-text">
  <div class="row">
    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="./img/icon-save-money.svg" alt=""/>
      <h2>Save money</h2>
      <p>Save money by sharing the fuel costs while carpooling together.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="./img/icon-make-friends.svg" alt=""/>
      <h2>Make friends</h2>
      <p>Meet like-minded people heading in the same direction as yours by sharing empty seats in your car.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="./img/icon-help-nature.svg" alt=""/>
      <h2>Help nature</h2>
      <p>Help nature by reducing the traffic congestion in your city. </p>
    </div>
  </div>
</div>
