<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">We have a powerful technology that can save years of development.</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Wunder has built a flexible mobility solution beyond static routes and schedules.</p>        
        <p class="text-left">Our mobility platform and global operational expertise enable transportation providers to accelerate the deployment of new mobility offerings.</p>
      </div>
    </div>
  </div>