<div class="text-boxes container">
    <div class="text-box text-box--right">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 text-box__content">
                <h2>Wunder Rufbusse im ländlichen Raum</h2>
                <p><span>Kunde:</span> Eine deutsche Verkehrsbetriebe</p>
                <p><span>Problem:</span> Die Rufbusse in Niedersachsen sind nicht flexibel genug: Die Fahrgäste müssen sich nach einem festgefahrenen Fahrplan richten, denn andere Transportlösungen stehen nicht zur Verfügung. Zur Buchung rufen die Gäste die Reservierungszentrale an und erst nach einer Stunde sammelt der Bus sie ein. Zudem bleiben viele Sitzplätze oft leer, zu Spitzenzeiten wiederum stehen nicht genügend Rufbusse in den Startlöchern.</p>
                <p><span>Lösung:</span> Der Rufbus passt sich dem Kunden an! Dafür realisiert Wunder flexible Mobilitätslösungen jenseits statischer Routen und Fahrpläne. Als weiteres Plus buchen die Fahrgäste in Niedersachsen den Rufbus jetzt per App, denn Wunder digitalisiert den öffentlichen Nahverkehr.</p>
                <p><span>Für Ihr Projekt:</span> Wenn auch Sie Ihre bestehende Fahrzeugflotte effizienter gestalten möchten, offeriert Wunder Ihnen fortschrittliche Analysetools und eine optimierte Bedarfsplanung. Je nach Wunsch digitalisieren wir Ihren bestehenden On-Demand-Verkehr oder ersetzen Ihr öffentliches Verkehrssystem durch ein flexibles System fern von statischen Routen und Fahrplänen.</p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img data-src="/img/wunder-car.jpg" data-srcset="/img/wunder-car@2x.jpg 2x" alt="Wunder Car" class="lazyload">
            </div>
        </div>
    </div>
    <div class="text-box text-box--left">
        <div class="row">
            <div class="col-md-6">
                <img data-src="/img/wunder-shuttle.jpg" data-srcset="/img/wunder-shuttle@2x.jpg 2x" alt="Wunder Shuttle" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Wunder Shuttle</h2>
                <div class="text-box__subtitle">Philippines</div>
                <p><span>Kunde:</span> Marubeni</p>
                <p><span>Problem:</span> Der Weg zur Arbeit raubt den Menschen in Metro Manila nicht nur wertvolle Stunden, sondern auch den letzten Nerv. Wer ist schon glücklich und arbeitet produktiv, wenn er jeden Tag über komplizierte Umwege von A nach B pendeln muss.</p>
                <p><span>Lösung:</span> Wunder kooperiert mit lokalen Partnern und bietet so einen flexiblen Shuttle-Service. Ein Bus sammelt Arbeitnehmer aus derselben Wohngegend in der Nähe ihrer Haustür ein und setzt sie direkt bei ihrer Arbeitsstätte ab. Dadurch spart man Zeit und lernt gleich seine Nachbarn besser kennen.</p>
                <p><span>Für Ihr Projekt:</span> Falls auch Sie sich für einen flexiblen Shuttle-Service für Ihre Arbeitnehmer interessieren, übernimmt Wunder für Sie den technischen Support, die Wartung, die Launch-Prozesse sowie die Operations von A bis Z. Wir besitzen jahrelange Erfahrung mit verschiedensten flexiblen Mobilitäts-Software-Lösungen und stellen Ihnen für Ihr Produkt auch gerne interne Ressourcen für z.B. Videoproduktionen zur Verfügung. Ihr Projekt setzen wir weltweit für Sie um.</p>
            </div>
        </div>
    </div>
</div>
