<div class="text-boxes container">
    <div class="text-box text-box--right">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 text-box__content">
                <h2>Wunder Mitfahrgelegenheiten: Hamburg</h2>
                <p><span>Aufgabe:</span> Ein großes europäisches Mobilitätsunternehmen will einen Fahrgemeinschaftsdienst für seine Mitarbeiter einführen. Alle Mitarbeiter pendeln zur 30 km entfernten Fabrik am Stadtrand. Viele davon allein im Auto.</p>
                <p><span>Lösung:</span> Unser Team analysiert Anzahl und Wohnort der Mitarbeiter,
um die notwendige Liquidität für ein Matching zwischen Fahrer und Mitfahrer sicherzustellen. Aus Gründen der Privatsphäre und Sicherheit erstellt Wunder dem Unternehmen ein geschlossenes Fahrgemeinschaftssystem. Das Angebot umfasst einen privaten Beta-Piloten als Proof of Concept, inklusive Launch-Support sowie hyperlokale Marketing- und Wachstumsunterstützung.</p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img data-src="/img/wunder-carpool.jpg" data-srcset="/img/wunder-carpool@2x.jpg 2x" alt="Wunder Carpool" class="lazyload">
            </div>
            <div class="about-wunder__blocks col-md-12 order-3 order-md-3">
                <div class="about-wunder__block">
                    <h3>2M</h3>
                    <p>Fahrten</p>
                </div>
                <div class="about-wunder__block">
                    <h3>700K</h3>
                    <p>Mitglieder</p>
                </div>
                <div class="about-wunder__block">
                    <h3>5</h3>
                    <p>Städte</p>
                </div>
            </div>
        </div>
    </div>
</div>
