<div class="text-boxes container">
    <div class="text-box text-box--right">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 text-box__content">
                <h2>Wunder Carpool: Hamburg</h2>
                <p>A large european mobility company wants to launch a carpool service for their employees. All employees commute to the factory, which is located 30km away, in the outskirts of the city. Many employees commute alone in their cars.</p>
                <p>Our multi-national team analysed where the employees commute from, to assure the needed liquidity and marketplace considerations to allow for relevant matching.</p>
                <p>We offered a closed carpool system for the company for privacy and security reasons. The company is large enough to reach liquidity. We suggest to launch a private beta pilot as a proof of concept. Wunder offered dedicated launch support including hyperlocal marketing and growth support.</p></p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img data-src="/img/wunder-carpool.jpg" data-srcset="./img/wunder-carpool@2x.jpg 2x" alt="Wunder Carpool" class="lazyload">
            </div>
            <div class="about-wunder__blocks col-md-12 order-3 order-md-3">
                <div class="about-wunder__block">
                    <h3>2M</h3>
                    <p>Rides</p>
                </div>
                <div class="about-wunder__block">
                    <h3>700K</h3>
                    <p>Members</p>
                </div>
                <div class="about-wunder__block">
                    <h3>5</h3>
                    <p>Cities</p>
                </div>
            </div>
        </div>
    </div>
</div>