<div class="text-boxes container">
    <div class="text-box text-box--left">
        <div class="row">
            <div class="col-md-6">
                <img data-src="/img/app-mockup.jpg" data-srcset="/img/app-mockup@2x.jpg 2x" alt="App Mockup" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Ihre Flotte - voll unter Kontrolle.</h2>
                <div class="text-box__subtitle">Verlieren Sie nie den Überblick über Ihre Flotte.</div>
                <p>Unser Fleet-Management-System liefert alle wichtigen Daten rund um Ihre Fahrzeuge: Überprüfen Sie den Kraftstoffstand, sehen Sie sich die Standorte an und erhalten Sie Live-Updates. Alles steht Ihnen auf unserer sicher gehosteten Cloud-Lösung zur Verfügung.</p>
                <p>Das System zeichnet sich durch hohe Erreichbarkeit, Sicherheit und Stabilität aus. Wir stellen sicher, dass es zu jeder Zeit betriebsbereit ist.</p>
                <p>Die Benutzerfreundlichkeit zieht sich durch alle Prozesse. Einfache Aufgaben wie Fahrzeugverfolgung im Geschäftsgebiet und komplexe Arbeitsabläufe wie das Management von Service & Wartung sind bereits implementiert und werden mit jeder Server-Instanz mitgeliefert.</p>
            </div>
        </div>
    </div>
    <div class="row features align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <div class="feature">
            <img data-src="/img/icon-lock.svg">
            <div class="feature__content">
                <h2>Sperren & Entsperren</h2>
                <p>Gesperrt und entsperrt werden Ihre Fahrzeuge über unser Backend. Das System gibt eine sofortige Rückmeldung, ob die Verriegelung oder Entriegelung erfolgreich war.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-mobilize.svg">
            <div class="feature__content">
              <h2>Mobilisieren & Ruhigstellen</h2>
              <p>Alle Fahrzeuge sind sicher immobilisiert und können nur gefahren werden, wenn Kunden sie über unser System mieten. Die Aktivierung oder Deaktivierung erfolgt mit einem einzigen Klick mit Zugriff auf das Back-End.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-fuel.svg">
            <div class="feature__content">
              <h2>Batterie / Kraftstoffstand prüfen</h2>
              <p>Erhalten Sie ein Live-Update über den Batterie- oder Kraftstoffstand aller Fahrzeuge. Optional verhindert das System die Rückgabe von Fahrzeugen bei einem zu niedrigen Kraftstoff- oder Batteriestand.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-track.svg">
            <div class="feature__content">
              <h2>Track-Position</h2>
              <p>Ein bestimmtes Fahrzeug zu finden ist ganz einfach. Aktualisieren Sie die Position und wir geben Ihnen die aktuellen Geokoordinaten sowie die Adresse an.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="/img/icon-key.svg">
            <div class="feature__content">
              <h2>Schlüssel, Türen & Fenster prüfen</h2>
              <p>Sind Ihre Fahrzeuge bereit für eine neue Vermietung? Überprüfen Sie ferngesteuert, ob Schlüssel vorhanden und alle Fenster, Türen sowie Topcases richtig geschlossen sind.</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 text-right order-1 order-md-2">
        <img data-src="/img/features-car.svg" alt="Car with features">
      </div>
    </div>
    <div class="text-box text-box--left">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img data-src="/img/free-floating.jpg" data-srcset="/img/free-floating@2x.jpg 2x" alt="Free Floating" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Marktpotenzial: Roller-Sharing ohne festen Standort</h2>
                <p>Wir sind Marktführer und liefern die Technologie für einige der bekanntesten Marken in Europa und Asien. Wir eröffnen jedem Anbieter die Möglichkeit, Assets (Autos, Roller, Kick-Scooter und Fahrräder) in einem Free-Floating- und Kurzzeit-Mietsystem zu betreiben.</p>
                <p><strong>Beispiel Elektroroller</strong><br/>Kunden lokalisieren und aktivieren den Elektroroller ganz einfach per Smartphone. Im Roller verbergen sich zwei Helme in verschiedenen Größen und austauschbare Batterien. Sowohl Ihr Team als auch unsere Partner können den Akku wechseln und laden. Die Fahrer sind somit nicht gezwungen sich um die Batterie-/Kabelhandling und Ladezeiten zu kümmern</p>
            </div>
        </div>
    </div>
</div>
