<div class="text-boxes container">
    <div class="text-box text-box--right">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 text-box__content">
                <h2>Wunder Rufbusse im ländlichen Raum</h2>
                <p><span>Kunde:</span> Ein deutsches Verkehrsunternehmen</p>
                <p><span>Problem:</span> Das aktuelle Rufbus System ist nicht effizient genug. Die Kunden können lediglich per Telefon einen Rufbus im Vorfeld bestellen. Daneben müssen die Mitarbeiter in der Leitstelle die Koordination und Reservierungen manuell bearbeiten, welches zu erheblichen zeitlichen Aufwänden führt.</p>
                <p><span>Lösung:</span> Der Rufbus passt sich dem Kunden an und wird digitalisiert. Die Disposition wird automatisiert, so dass die Mitarbeiter deutlich entlastet werden. Als weiteres Plus buchen die Fahrgäste den Rufbus jetzt per App, denn Wunder digitalisiert den öffentlichen Nahverkehr.</p>
                <p><span>Für Ihr Projekt:</span> Wenn auch Sie Ihre bestehende Fahrzeugflotte effizienter gestalten möchten, offeriert Wunder Ihnen fortschrittliche Analysetools und eine optimierte Bedarfsplanung. Je nach Wunsch digitalisieren wir Ihren bestehenden On-Demand-Verkehr und ergänzen Ihr öffentliches Verkehrssystem durch ein flexibles System fern von statischen Routen und Fahrplänen.</p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img data-src="/img/wunder-car.jpg" data-srcset="/img/wunder-car@2x.jpg 2x" alt="Wunder Car" class="lazyload">
            </div>
        </div>
    </div>
    <div class="text-box text-box--left">
        <div class="row">
            <div class="col-md-6">
                <img data-src="/img/wunder-shuttle.jpg" data-srcset="/img/wunder-shuttle@2x.jpg 2x" alt="Wunder Shuttle" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Wunder Shuttle</h2>
                <div class="text-box__subtitle">Philippinen</div>
                <p><span>Kunde:</span> Marubeni</p>
                <p><span>Problem:</span> Der Weg zur Arbeit raubt den Menschen in der Metropole nicht nur wertvolle Stunden, sondern auch den letzten Nerv. Wer ist schon glücklich und arbeitet produktiv, wenn er jeden Tag über komplizierte Umwege von A nach B pendeln muss.</p>
                <p><span>Lösung:</span> Wunder kooperiert mit lokalen Partnern und bietet so einen flexiblen Shuttle-Service. Ein Bus sammelt Arbeitnehmer aus derselben Wohngegend in der Nähe ihrer Haustür ein und setzt sie direkt bei ihrer Arbeitsstätte ab. Dadurch sparen die Mitfahrer Zeit und lernen gleichzeitig ihre Nachbarn besser kennen.</p>
                <p><span>Für Ihr Projekt:</span> Falls auch Sie sich für einen flexiblen Shuttle-Service für Ihre Arbeitnehmer interessieren, übernimmt Wunder für Sie den technischen Support, die Wartung, die Launch-Prozesse sowie die Operations von A bis Z. Wir besitzen jahrelange Erfahrung mit verschiedensten flexiblen Mobilitäts-Software-Lösungen und stellen Ihnen für Ihr Produkt auch gerne interne Ressourcen für z.B. Videoproduktionen zur Verfügung. Ihr Projekt setzen wir weltweit für Sie um.</p>
            </div>
        </div>
    </div>
</div>
