<div class="text-boxes container">
    <div class="text-box text-box--right">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1 text-box__content">
                <h2>Wunder Rural Shuttle</h2>
                <p><span>Client:</span> A German Transportation Company</p>
                <p><span>Problem:</span> Traditional on-demand bus services in a rural town of Germany with 50.000 inhabitants were implemented since years. Customers called the reservation centre and buses arrived 1 hour later to pick them up. No online- or mobile booking was available. Moreover, there was a lot a manual effort required to dispatch the ride request to the driver and vehicle. That contributed to significant inefficiencies in their internal processes.</p>
                <p><span>Solution:</span> Wunder offers flexible mobility solutions and supports traditional companies to digitize public transport systems.</p>
                <p>Regardless of adding our powerful technology to your existing on-demand traffic or by supplementing a public transport system by a flexible system beyond static routes and timetables. Our advanced analytics tools and demand planning will deploy existing fleets of vehicles more efficiently.</p>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <img data-src="/img/wunder-car.jpg" data-srcset="./img/wunder-car@2x.jpg 2x" alt="Wunder Car" class="lazyload">
            </div>
        </div>
    </div>
    <div class="text-box text-box--left">
        <div class="row">
            <div class="col-md-6">
                <img data-src="/img/wunder-shuttle.jpg" data-srcset="./img/wunder-shuttle@2x.jpg 2x" alt="Wunder Shuttle" class="lazyload">
            </div>
            <div class="col-md-5  text-box__content">
                <h2>Wunder Shuttle</h2>
                <div class="text-box__subtitle">Philippines</div>
                <p><span>Client:</span> Marubeni</p>
                <p><span>Problem:</span> Getting to work is uncomfortable and inconvenient for millions of people living in Metro Manila.Employee productivity and happiness is severely impacted by hours of commuting each day.</p>
                <p><span>Solution:</span> Partnering with local employers to provide an on-demand, flexible shuttle service that picks up employees near their homes and delivers them directly to the office.</p>
            </div>
        </div>
    </div>
</div>