  <div class="text-boxes container product">
    <div class="text-box">
      <div class="text-box__content">
        <h2>Your fully-featured shuttle service.</h2>
        <div class="text-box__subtitle">Stay in control.</div>
      </div>
    </div>
    <div class="row features align-items-center">
      <div class="col-md-6 text-right order-1 order-md-2">
        <img data-src="./img/shuttle-mockup.png" data-srcset="./img/shuttle-mockup@2x.png 2x" alt="Wunder Shuttle Mockups" class="lazyload">
      </div>
      <div class="col-md-6 order-2 order-md-1">
        <div class="feature">
            <img data-src="./img/icon-monitor.svg">
            <div class="feature__content">
              <h2>Live Monitoring & KPIs</h2>
              <p>Through a general overview, you'll be able to monitor ongoing trips (including delays or cancellations), assign drivers on the fly, measure KPIs and analyse past performance.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="./img/icon-route.svg">
            <div class="feature__content">
              <h2>Virtual Shuttle Stops & Route Management</h2>
              <p>Through a simple web interface you'll be able to identify high-demand areas that you would like to serve, place virtual shuttle stops via map and add instructions for drivers and passengers to facilitate pickups.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="./img/icon-calendar.svg">
            <div class="feature__content">
              <h2>Hassle-Free Trip Scheduling</h2>
              <p>Schedule single or repeating trips to automate your services, assign drivers to specific trips and define the required vehicle sizes to optimise your capacity utilisation.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="./img/icon-license.svg">
            <div class="feature__content">
                <h2>Driver Management</h2>
                <p>Add your drivers to the system to unlock an overview of each driver's current assignments and trip history.</p>
            </div>
        </div>
      </div>
    </div>
</div>
