  <div class="text-boxes container product">
    <div class="text-box">
      <div class="text-box__content">
        <h2>Carpooling as a solution.</h2>
        <div class="text-box__subtitle">Wunder empowers communities to commute safely and convenienty.</div>
      </div>
    </div>
    <div class="row features align-items-center">
      <div class="col-md-6 text-right order-1 order-md-2">
        <img data-src="./img/carpool-mockup.png" data-srcset="./img/carpool-mockup@2x.png 2x" alt="Wunder Carpool Mockups" class="lazyload">
      </div>
      <div class="col-md-6 order-2 order-md-1">
        <div class="feature">
            <img data-src="./img/icon-license.svg">
            <div class="feature__content">
              <h2>ID Verification</h2>
              <p>Each user can verify their IDs in the app. This keeps users in control of who they carpool with and ensures the carpooling community remains secure.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="./img/icon-track.svg">
            <div class="feature__content">
              <h2>Live Tracking</h2>
              <p>Passengers can track their driver's locations and all the trips, past, present and future can be seen in a comprehensive backend admin system.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="./img/icon-wallet.svg">
            <div class="feature__content">
              <h2>Wunder Wallet</h2>
              <p>A reliable transaction system gives end-users a more convenient payment method. New digital payment systems can be added depending on the country.</p>
            </div>
        </div>
        <div class="feature">
            <img data-src="./img/icon-design.svg">
            <div class="feature__content">
                <h2>Researched Design</h2>
                <p>The interface has been developed over 2 years of continuous research. Down to the colors and fonts used, we ensure the best experience for our carpoolers.</p>
            </div>
        </div>
      </div>
    </div>
</div>
