<div class="container icons-text">
    <div class="row icons-text__description">
        <div class="col-md-6">
            <h2 class="text-right-md">Wunder is an urban mobility technology company. We empower communities globally to deploy sustainable mobility
                faster.
            </h2>
        </div>
        <div class="col-md-6">
            <p class="text-left">We are providing the full tech stack of new urban mobility solutions: carpooling, ride-sharing and smart shuttles,
                and free-floating car and scooter sharing. We deploy our technologies directly to consumers in Asia, Europe
                and Latin America as well as in technology partnerships with cities and the automotive industry.</p>
        </div>
    </div>
</div>