<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">Wunder Mobility is an international technology supplier for innovative and forward-thinking mobility concepts</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Founded in 2014, the company is the only international full-stack provider to offer the entire spectrum of new mobility services from a single source. It's wide portfolio includes software, hardware and operational services for smart shuttles, fleet management (car, bike and scooter sharing) and carpooling.</p>
        <p class="text-left">As a consultant and partner for cities and communities, Wunder promotes the digitization of public transport. Transport companies and companies from the automotive industry in Europe, America and Japan have already decided to use the flexible and scalable technology.</p>
      </div>
    </div>
  </div>
