<div class="container icons-text">
  <div class="row">
    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-save-money.svg" alt=""/>
      <h2>Economize</h2>
      <p>Economize dinheiro ao dividir o custo do combustível enquanto viajam juntos. </p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-make-friends.svg" alt=""/>
      <h2>Faça amigos</h2>
      <p>Conheça pessoas com gostos similares aos seus e que vão na mesma direção que você ao oferecer assentos vazios do seu carro. </p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-help-nature.svg" alt=""/>
      <h2>Ajude a natureza</h2>
      <p>Ajude a natureza reduzindo o engarrafamento da sua cidade. </p>
    </div>
  </div>
</div>
