{% include ../partials/global/_head.html %}
<body class="en careers" data-menu="1">
  {% include partials/global/_header.html %}
  <main class="careers-locations with-cta-banner">
    {% include partials/banner/_banner-careers-locations.html %}
    {% include partials/intro-text/_intro-locations.html %}

    {% include partials/_hq-location.html %}
    {% include partials/_other-locations.html %}

    {% include partials/cta-banners/_home-footer.html %}
  </main>
  {% include partials/global/_footer.html %}
  {% include ../partials/global/_foot.html %}
</body>

</html>
