<div class="simple-slider__wrapper">
  <div class="simple-slider">
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Viaje com flexbilidade</h2>
            <p>A Wunder permite que você ofereça ou procure caronas, crie viagens facilmente e escolha sua rota preferida. Simplesmente escolha seu ponto de origem, seu destino e o horário. Como motorista, você é livre para decidir a tarifa da sua viagem.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/button-applebr.svg" alt="Baixa na Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/button-playstorebr.svg" alt="Baixa na Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-src="/img/phone-slider-1.png" data-srcset="/img/phone-slider-1@2x.png 2x" alt="" class="lazyload">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Encontre caronas rapidamente</h2>
            <p>Uma vez criada a viagem, explore o mapa para pedir ou oferecer caronas na sua rota.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/button-applebr.svg" alt="Baixa na Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/button-playstorebr.svg" alt="Baixa na Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="/img/phone-slider-2.png" data-srcset="/img/phone-slider-2@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Inicie a carona</h2>
            <p>Uma vez que a carona está confirmada, o aplicativo te orientará passo a passo. Use os botões de ação em destaque para começar a viagem ou completar o pagamento.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/button-applebr.svg" alt="Baixa na Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/button-playstorebr.svg" alt="Baixa na Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="/img/phone-slider-3.png" data-srcset="/img/phone-slider-3@2x.png 2x">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Pague com facilidade</h2>
            <p>Uma vez que você concluiu uma viagem como passageiro, você pode pagar pela nossa Wallet do aplicativo. É muito fácil para depositar e pagar. Você também pode pagar em dinheiro.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/button-applebr.svg" alt="Baixa na Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/button-playstorebr.svg" alt="Baixa na Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="/img/phone-slider-4.png" data-srcset="/img/phone-slider-4@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Avaliações</h2>
            <p>Você teve uma boa carona para o trabalho? Para finalizar a viagem, avalie seu motorista/passageiro e compartilhe a sua experiência com a comunidade escrevendo um comentário.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/button-applebr.svg" alt="Baixa na Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/button-playstorebr.svg" alt="Baixa na Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-src="/img/phone-slider-5.png" data-srcset="/img/phone-slider-5@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
  </div>
</div>
