<div class="simple-slider__wrapper solutions">
  <h2 class="simple-slider__title">Nosso Processo</h2>
    <div class="simple-slider simple-slider--shuttle simple-slider--process">
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2 col-md-3 simple-slider__image">
              <img data-src="/img/shuttle-process-slider-discovery.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Descobertas</h2>
              <ul class="simple-slider__item-list">
                <li>Nós começamos com uma análise conjunta da sua necessidade de mobilidade e uma demonstração da nossa tecnologia, incluindo qualquer tecnologia pré-existente que requeira integração.</li>
                <li>Depois, nós te apresentamos uma proposta de projeto detalhado, incluindo tecnologia, equipe, assim como KPIs, linhas de tempo e um orçamento claro.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2 col-md-3 simple-slider__image">
              <img data-lazy="/img/shuttle-process-slider-preparation.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Preparação</h2>
              <ul class="simple-slider__item-list">
                <li>Com sua aprovação, nós começamos localizando a tecnologia, configuramos as ferramentas de monitoramento de KPI e definimos a área final de negócios.</li>
                <li>Em paralelo, nossos especialistas em marketing e growth podem criar uma estratégia de comercialização para comunicar o lançamento do serviço de mobilidade.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2  col-md-3 simple-slider__image">
              <img data-lazy="/img/shuttle-process-slider-launch.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Lançamento</h2>
              <ul class="simple-slider__item-list">
                <li>Nós colaboramos de perto com seu time para facilitar o lançamento do serviço de mobilidade, o qual pode ser acompanhado em tempo real no seu painel personalizado.</li>
                <li>Também é possível ajudar na integração de veículos como vans, ônibus ou carros compartilhados na plataforma, assim como treinar motoristas profissionais.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2  col-md-3 simple-slider__image">
              <img data-lazy="/img/shuttle-process-slider-scaling.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Crescimento</h2>
              <ul class="simple-slider__item-list">
                <li>Nós te ajudamos a crescer seu serviço e equilibrar oferta e demanda</li>
                <li>Se for necessário, nós gerenciamos todas as atividades de marketing e growth com a ajuda de um time operacional dedicado.</li>
                <li>Nosso time técnico fornece atualizações contínuas de software e maximiza a eficiência e qualidade do serviço.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
    </div>
  </div>
