.imprint {
  p {
    margin-bottom: rem(40px);
  }
}

.privacy {
  h2 {
    margin-top: rem(30px);
  }   

  p {
    padding-bottom: rem(20px);
  }
}

.terms {
  h2 {
    margin-top: rem(30px);
  }
   
  p {
    padding-bottom: rem(20px);
  }
}