.imprint {
  p {
    margin-bottom: rem(40px);
  }
}

.privacy {
  h2 {
    margin-top: rem(30px);
  }

  p {
    padding-bottom: rem(20px);
  }
}

.terms {
  h2 {
    margin-top: rem(30px);
  }

  p {
    padding-bottom: rem(20px);
  }
}

.error {
  h1 {
    margin: 2rem 0;
    &.lg {
      font-size: 4.5rem;
    }
  }
}

.faq {
  .video-banner {
    background-image: url(../img/banner-shuttle.jpg);
    text-align: center
  }

  h3 {
    text-align: center;
    padding-top: 3.75rem;
  }

  .faq-list__wrapper {
    max-width: rem(770px);
    margin: rem(60px) auto;
  }

  .faq__item {
    margin-bottom: rem(30px);
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 1rem;
    transition: all 0.4s;
    &:hover {
      border-color: #adadad;

      .faq__question {
        color: $sky-blue;
      }
      .faq__question:after {
        border-color: $sky-blue;
      }
    }
  }

  .faq__question {
    font-size: 1.125rem;
    font-weight: 700;
    color: #2A3B35;
    margin-bottom: rem(8px);
    padding-right: rem(15px);
    position: relative;
    cursor: pointer;
    transition: all 0.4s;

    &:after {
      content: '';
      border: solid #2A3B35;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      position: absolute;
      right: 0;
      transition: all .4s
    }

    &.active {
      color: $sky-blue;
      &:after {
        border-color: $sky-blue;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }
    }
  }

  .faq__answer {
    display: none;
  }


}
