<div class="contact-form" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <h3>Fale Consosco</h3>
            </div>
            <div class="col-sm-5">
                <p>Nós buscamos entrar em contato dentro de 24 horas. Nosso objetivo é empoderar você para implantar a mobilidade sustentável rapidamente!</p>
            </div>
        </div>
        <form class="row" id="main-contact">
            <div class="col-sm-5 offset-sm-1">
                <input type="text" name="name" id="name" placeholder="Nome *" required>
                <input type="email" name="email" id="email" placeholder="Email *" required>
                <input type="text" name="subject" id="subject" placeholder="Assunto">
                <!--<div class="select-container">
                  <select name="subject">
                    <option value="" disabled selected>Subject</option>
                    <option value="business">Business Customer</option>
                    <option value="career">Careers</option>
                    <option value="app">App Support</option>
                  </select>
                </div>-->
                <input type="text" name="phone" id="phone" placeholder="Telefone">
            </div>
            <div class="col-sm-5">
                <textarea name="message" id="message" placeholder="Mensagem"></textarea>
            </div>
            <div class="col-12">
                <button type="button" id="form-submit" class="btn btn--blue">Enviar</button>
            </div>
            <div class="col-12">
              <p class="form-feedback invisible">Sua mensagem foi enviada. Manteremos contato!</p>
            </div>
        </form>
    </div>
</div>
