<section class="article-listing container">
    <h3>Press Coverage</h3>
    <div class="article-listing__wrapper max-items max--7">
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/carIT.jpg" data-srcset="/img/carIT@2x.jpg 2x" alt="CarIT Connected Mobility" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">11.01.2019</date>
                <p class="article-listing__title">Wir sehen die Autobauer langfristig nicht im Software-Geschäft</p>
                <a target="_blank" href="https://www.car-it.com/wir-sehen-die-autobauer-langfristig-nicht-im-software-geschaeft/id-0060709">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/berlin-valley.png" data-srcset="/img/berlin-valley@2x.png 2x" alt="Berlin Valley" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">08.01.2019</date>
                <p class="article-listing__title">Organisation ist alles: Tipps von Gründern für Gründer</p>
                <a target="_blank" href="https://berlinvalley.com/organisation-ist-alles-strukturen/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/logo-ntv.png" data-srcset="/img/logo-ntv@2x.png 2x" alt="NTV" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">24.11.2018</date>
                <p class="article-listing__title">Startup Magazin - Thema U.A: Klima und Nachhaltigkeit</p>
                <a target="_blank" href="https://www.tvnow.de/shows/startup-magazin-15772/staffel-1/episode-7-thema-u-a-klima-und-nachhaltigkeit-1327704">Watch episode (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/spiegel-online.jpg" data-srcset="/img/spiegel-online@2x.jpg 2x" alt="Spiegel Online" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">17.11.2018</date>
                <p class="article-listing__title">Hype um Elektroroller: Deutschland rüstet sich für den E-Scooter-Boom.</p>
                <a target="_blank" href="http://www.spiegel.de/wirtschaft/unternehmen/e-scooter-deutschland-ruestet-sich-fuer-den-boom-der-elektroroller-a-1238874.html">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/automobil-industrie.jpg" data-srcset="/img/automobil-industrie@2x.jpg 2x" alt="Automobil Industrie" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">19.10.2018</date>
                <p class="article-listing__title">Wunder Mobility Summit: Mobilitätsexperten unter sich.</p>
                <a target="_blank" href="https://www.automobil-industrie.vogel.de/wunder-mobility-summit-mobilitaetsexperten-unter-sich-a-767644/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/logo-automobilwoche.svg" data-srcset="/img/logo-automobilwoche.svg 2x" alt="Automobilwoche" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">18.10.2018</date>
                <p class="article-listing__title">Anbieter von Carsharing-Software: Wunder übernimmt Fleetbird.</p>
                <a target="_blank" href="https://www.automobilwoche.de/article/20181018/NACHRICHTEN/181019907/anbieter-von-carsharing-software-wunder-uebernimmt-fleetbird">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/hamburg-news.jpg" data-srcset="/img/hamburg-news@2x.jpg 2x" alt="Hamburg News" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">16.10.2018</date>
                <p class="article-listing__title">Wunder Mobility takes over Fleetbird software sharing.</p>
                <a target="_blank" href="https://www.hamburg-news.hamburg/en/media-it/wunder-mobility-takes-over-fleetbird-software-shar/">Read article</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/welt.jpg" data-srcset="/img/welt@2x.jpg 2x" alt="Welt" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">09.10.2018</date>
                <p class="article-listing__title">Wenn nicht Hamburg, dann eben Manila.</p>
                <a target="_blank" href="https://www.welt.de/regionales/hamburg/plus181813774/Mobilitaet-Wie-Gunnar-Froh-in-Manila-statt-in-Hamburg-erfolgreich-wurde.html">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/wirthscaftswoche.jpg" data-srcset="/img/wirthscaftswoche@2x.jpg 2x" alt="Wietschafts Woche Gründer" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">21.09.2018</date>
                <p class="article-listing__title">Wunder: Unser Vorteil ist, dass wir schnell ein Visum bekommen.</p>
                <a target="_blank" href="https://gruender.wiwo.de/wunder-unser-vorteil-ist-dass-wir-schnell-ein-visum-bekommen/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
              <img data-src="/img/logo-automobilwoche.svg" data-srcset="/img/logo-automobilwoche.svg 2x" alt="Automobilwoche" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">13.09.2018</date>
                <p class="article-listing__title">Ausbau des Entwicklungsteams: Wunder Mobility besorgt sich 26 Millionen Euro.</p>
                <a target="_blank" href="https://www.automobilwoche.de/article/20180913/NACHRICHTEN/180919957/1334/ausbau-des-entwicklungsteams-wunder-mobility-besorgt-sich--millionen-euro">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/deutsche-startups.jpg" data-srcset="/img/deutsche-startups@2x.jpg 2x" alt="Deutsch Startups" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">12.09.2018</date>
                <p class="article-listing__title">11 so richtig heiße Startups, die viel mehr Menschen kennen sollten.</p>
                <a target="_blank" href="https://www.deutsche-startups.de/2018/09/12/11-so-richtig-heisse-startups/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/focus.jpg" data-srcset="/img/focus@2x.jpg 2x" alt="Focus" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">12.09.2018</date>
                <p class="article-listing__title">Ausstellung im Schleswig-Holsteinischen Landwirtschaftsmuseum: „Nutz‘ Pflanzen richtig“ (20. September bis 14. November 2018).</p>
                <a target="_blank" href="https://www.focus.de/regional/schleswig-holstein/kreis-dithmarschen-ausstellung-im-schleswig-holsteinischen-landwirtschaftsmuseum-nutz-pflanzen-richtig-20-september-bis-14-november-2018_id_9576613.html">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/hamburg-news.jpg" data-srcset="/img/hamburg-news@2x.jpg 2x" alt="Hamburg News" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">06.09.2018</date>
                <p class="article-listing__title">Wunder Mobility erhält neues Kapital im Wert von 26 Millionen Euro.</p>
                <a target="_blank" href="https://www.hamburg-news.hamburg/de/hafen-logistik/wunder-mobility-erhaelt-neues-kapital-im-wert-von-26-millionen-euro/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/techcrunch.jpg" data-srcset="/img/techcrunch@2x.jpg 2x" alt="TechCrunch" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">German mobility startup Wunder Mobility raises $30M Series B</p>
                <a target="_blank" href="https://techcrunch.com/2018/09/05/wunder-mobility/?guccounter=1">Read article</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/grunderszene.jpg" data-srcset="/img/grunderszene@2x.jpg 2x" alt="Gründerszene" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">Wunder kehrt mit 26 Millionen auf den deutschen Markt zurück</p>
                <a target="_blank"  href="https://www.gruenderszene.de/automotive-mobility/wunder-finanzierung-26-millionen">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/vc-magazine.jpg" data-srcset="/img/vc-magazine@2x.jpg 2x" alt="VC Magazine" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">KCK-Group und Blumberg Capital investieren in Wunder Mobility Start-up für Mobilitätskonzepte erhält 26 Mio. EUR</p>
                <a target="_blank" href="https://www.vc-magazin.de/deals/start-up-fuer-mobilitaetskonzepte-erhaelt-26-mio-eur/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
        <!-- Item -->
        <div class="article-listing__item row">
            <div class="col-md-3 article-listing__image">
                <img data-src="/img/startup-valley.jpg" data-srcset="/img/startup-valley@2x.jpg 2x" alt="Startup Valley" class="lazyload">
            </div>
            <div class="col-md-9">
                <date class="article-listing__date">05.09.2018</date>
                <p class="article-listing__title">Wunder Mobility mit neuer Finanzierung von 26 Millionen Euro</p>
                <a target="_blank" href="https://www.startupvalley.news/de/wunder-mobility-finanzierung/">Read article (DE)</a>
            </div>
        </div>
        <!-- #end Item -->
    </div>
  </section>
