<div class="contact-form" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <h3>Contact us</h3>
            </div>
            <div class="col-sm-5">
                <p>We get in touch within 24hours. Our goal is to empower you to deploy sustainable mobility faster!</p>
            </div>
        </div>
        <form class="row" method="post" action="contact.php">
            <div class="col-sm-5 offset-sm-1">
                <input type="text" name="name" id="name" placeholder="Name *" required>
                <input type="email" name="email" id="email" placeholder="Email *" required>
                <input type="text" name="subject" id="subject" placeholder="Subject">
                <input type="text" name="phone" id="phone" placeholder="Phone">
            </div>
            <div class="col-sm-5">
                <textarea name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn--blue">Send</button>
            </div>
        </form>
    </div>
</div>
