<div class="contact-form" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <h3>Contact us</h3>
            </div>
            <div class="col-sm-5">
                <p>We get in touch within 24 hours. Our goal is to empower you to deploy sustainable mobility faster!</p>
                <br>
                <p>Alternatively, feel free to reach out to us at <a href="mailto:support@wunder.org">support@wunder.org</a>.</p>
            </div>
        </div>
        <form class="row" id="main-contact">
            <div class="col-sm-5 offset-sm-1">
                <input type="text" name="name" id="name" placeholder="Name *" required>
                <input type="email" name="email" id="email" placeholder="Email *" required>
                <input type="text" name="subject" id="subject" placeholder="Subject">
                <input type="text" name="phone" id="phone" placeholder="Phone">
            </div>
            <div class="col-sm-5">
                <textarea name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
                <button type="button" id="form-submit" class="btn btn--blue">Send</button>
            </div>
            <div class="col-12">
              <p class="form-feedback invisible">Your message has been sent. We'll be in touch!</p>
            </div>
        </form>
    </div>
</div>
