<div class="career-jobs">
    <div class="container">
        <h3>Current Job Openings</h3>
        <!-- Jobs List -->
        <div class=career-jobs__wrapper>
            <ul class=career-jobs__list>
              <li>Engineering</li>
              <li><a href=https://grnh.se/ea683d321>Backend Engineering Lead (m/f)</a></li>
              <li><a href=https://boards.greenhouse.io/wunder/jobs/928921>Elixir Engineer (m/f)</a></li>
              <li><a href=https://grnh.se/182d0c4d1>Elixir Engineer - Remote (m/f)</a></li>
              <li><a href=https://grnh.se/wqcmg5nk1>Senior Ruby Engineer (m/f)</a></li>
            </ul>
            <ul class=career-jobs__list>
              <li>Growth</li>
              <li><a href=https://grnh.se/35fee49d1>Community Manager - Phillippines (m/f)</a></li>
              <li><a href=https://grnh.se/7de8b5031>Community Manager - India (m/f)</a></li>
              <li><a href=https://grnh.se/0d7dd8821>Community Manager - Brazil (m/f)</a></li>
              <li><a href=https://grnh.se/6f01dea41>Market Manager - Brazil (m/f)</a></li>
            </ul>
            <ul class=career-jobs__list>
              <li>Business</li>
              <li><a href=https://grnh.se/b7e3f3c01>Account Executive, Sales (m/f)</a></li>
            </ul>
        </div>
        <div class=career-jobs__wrapper>
          <ul class=career-jobs__list>
            <li>Product</li>
            <li><a href=https://grnh.se/b7af1e991>Product Manager, Wunder Platform (m/f)</a></li>
            <li><a href=https://grnh.se/c669c6c01>Senior UX/UI Designer, Wunder Platform (m/f)</a></li>
            <li><a href=https://grnh.se/b91961a91>Senior Data Analyst (m/f)</a></li>
          </ul>
          <ul class=career-jobs__list>
            <li>General</li>
            <li><a href=https://boards.greenhouse.io/wunder/jobs/98731#.WaVr0tNJbBI>General Application at Wunder</a></li>
          </ul>
        </div>
    </div>
</div>
