<section class="press-kit">
    <div class="container">
        <h3>Press Kit Download</h3>
        <div class="row">
            <!-- Item -->
            <div class="col-md-4 col-sm-6 press-kit__item">
                <p class="press-kit__title">Fact sheet</p>
                <p class="press-kit__description">Find all facts about our product and the company</p>
                <a href="/img/factsheet_de_wundermobility-0918.pdf" target="_blank">Download</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="col-md-4 col-sm-6 press-kit__item">
                <p class="press-kit__title">Brand assets</p>
                <p class="press-kit__description">Find logos for Wunder</p>
                <a href="https://drive.google.com/drive/folders/12WqHoTyoOCb-OHYtc9vXnjljViwaDH3n?usp=sharing" target="_blank">Download</a>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="col-md-4 col-sm-6 press-kit__item">
                <p class="press-kit__title">Photo pack</p>
                <p class="press-kit__description">Find product and team photos</p>
                <a href="https://drive.google.com/drive/folders/1ihj2j4f4MqbhqpcydPIrBX2f4d-8sA2d?usp=sharing" target="_blank">Download</a>
            </div>
            <!-- #end Item -->
        </div>
    </div>
</section>
