<div class="pricing-list container">
    <h3>Product-specific features</h3>
    <div class="pricing-list__wrapper row">
      <!-- Pricing List Item -->
      <div class="col-md-4">
        <div class="pricing-list__item">
          <h3>Carpool</h3>
          <img data-src="./img/price-carpool.svg" alt="Carpool">
          <hr>
          <ul class="pricing-list__listing">
            <li>One app for drivers and passengers</li>
            <li>Rich social profiles</li>
            <li>Driver and passenger rating system</li>
            <li>Passenger and Driver employer verification</li>
            <li>Emergency notification system</li>
            <li>Customizable routes</li>
            <li>Groups for repeating trips</li>
          </ul>
          <div class="pricing-list__footer">
            <a href="carpool">Learn more</a>
            <div class="pricing-list__btn">
              <p class="pricing-list__price">1€</p>
              <span>Month per user*</span>
            </div>
          </div>
        </div>
      </div>
      <!-- #End Pricing List Item -->
      <!-- Pricing List Item -->
      <div class="col-md-4">
          <div class="pricing-list__item">
            <h3>Fleet</h3>
            <img data-src="./img/price-fleet.svg" alt="Carpool">
            <hr>
            <ul class="pricing-list__listing">
              <li>Hardware Connection</li>
              <li>Finding, Reserving and Opening Vehicles via the app </li>
              <li>Vehicle damage reporting</li>
              <li>Support multiple vehicle types </li>
              <li>Vehicle Checks: Battery / Fuel Level, Key, Doors & Windows</li>
              <li>Easy Customer Management: From Registration to Payment, User rights, Drivers licence verification</li>
              <li>Invoicing & Payment</li>
              <li>Open connection to third party developers via our API</li>
            </ul>
            <div class="pricing-list__footer">
              <a href="fleet">Learn more</a>
              <div class="pricing-list__btn">
                <p class="pricing-list__price">17€</p>
                <span>Month per vehicle*</span>
              </div>
            </div>
          </div>
        </div>
        <!-- #End Pricing List Item -->
        <!-- Pricing List Item -->
        <div class="col-md-4">
          <div class="pricing-list__item">
            <h3>Smart-Shuttle Ride-Sharing</h3>
            <img data-src="./img/price-car-sharing.svg" alt="Carpool">
            <hr>
            <ul class="pricing-list__listing">
              <li>Special driver app for routing and passenger management </li>
              <li>Optional definition of fixed passenger pick-up locations</li>
              <li>Live driver and passenger tracking dashboard</li>
              <li>Automated dispatching</li>
            </ul>
            <div class="pricing-list__footer">
              <a href="shuttle">Learn more</a>
              <div class="pricing-list__btn">
                <p class="pricing-list__price">49€</p>
                <span>Month per vehicle*</span>
              </div>
            </div>
          </div>
        </div>
        <!-- #End Pricing List Item -->
    </div>
    <p class="pricing-list__note">*Monthly licensing for XL project sizes: Carpooling 10,000 users, Carsharing 1,000 vehicles, Smart-Shuttle/Ride-sharing 1,000 vehicles</p>
  </div>
