<div class="sponsors container">
  <h3>Proudly sponsored by</h3>
  <ul class="sponsors__list">
    <li>
      <a href="#">
        <img data-src="./img/logo-ey.svg" alt="EY">
      </a>
    </li>
    <li>
      <a href="#">
        <img data-src="./img/logo-worldpay.svg" alt="Wordpay">
      </a>
    </li>
    <li>
      <a href="#">
        <img data-src="./img/logo-automobilwoche.svg" alt="Automobilwoche">
      </a>
    </li>
  </ul>
  <div class="responsive-video">
    <iframe src="https://player.vimeo.com/video/246079657?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</div>