<div class="shuttle-options container">
  <div class="row">
      <h3>Our platform is versatile with support for<br/>
              carpooling, carsharing and Smart Shuttles.</h3>
  </div>
  <div class="row shuttle-options__image">
      <img data-src="./img/shuttle-options.svg" alt="Shuttle Options">
  </div>
  <div class="row">
      <div class="col-md-4">
          <img data-src="./img/icon-shuttle.svg" alt="" class="shuttle-options__icon">
          <h2>Shuttle</h2>
          <p>Passengers request a trip and a professional driver takes them on requested route.</p>
          <a href="./shuttle.html">Read more</a>
      </div>
      <div class="col-md-4">
          <img data-src="./img/icon-fleet.svg" alt="" class="shuttle-options__icon">
          <h2>Fleet</h2>
          <p>Driver rents car or scooter by the minute or hour. Free floating or fixed rental locations.</p>
          <a href="./fleet.html">Read more</a>
      </div>
      <div class="col-md-4">
          <img data-src="./img/icon-carpool.svg" alt="" class="shuttle-options__icon">
          <h2>Carpool</h2>
          <p>Driver shares empty seats in a private vehicle for a trip they have already planned.</p>
          <a href="./carpool.html">Read more</a>
      </div>
  </div>
  <div class="row">
      <a href="./pricing.html" class="btn btn--blue">Pricing</a>
  </div>
</div>
