<header class="container header">
  <a href="/">
    <img data-src="./img/logo.svg" class="header__logotype" alt="Wunder">
  </a>
  <div class="header__icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- active class: current -->
  <ul class="header__nav">
    <li class="header__nav-item header__nav-item-submenu " id="js-solutions">
      <a href="#" class="hvr-underline-from-left">Solutions
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <!-- active class= is-active-->
        <ul>
          <li>
            <a href="shuttle.html" class="hvr-underline-from-left">Wunder Shuttle</a>
          </li>
          <li>
            <a href="fleet.html" class="hvr-underline-from-left">Wunder Fleet</a>
          </li>
          <li>
              <a href="carpool.html" class="hvr-underline-from-left">Wunder Carpool</a>
          </li>
          <li>
              <a href="pricing.html" class="hvr-underline-from-left">Wunder Pricing</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__nav-item header__nav-item-submenu" id="js-app">
      <a href="#" class="hvr-underline-from-left">Carpool App
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <!-- active class= is-active-->
        <ul>
          <li>
            <a href="carpool-app.html" class="hvr-underline-from-left">The App</a>
          </li>
          <li>
            <a href="https://help.wunder.org/hc/en-gb" target="_blank" class="hvr-underline-from-left">Help</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__nav-item header__nav-item-submenu" id="js-events">
      <a href="#" class="hvr-underline-from-left">Events
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <!-- active class= is-active-->
        <ul>
          <li>
            <a href="meetup.html" class="hvr-underline-from-left">Meetup</a>
          </li>
          <li>
            <a href="https://wundermobilitysummit.splashthat.com/" target="_blank" class="hvr-underline-from-left">Mobility Summit</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="about.html">About Us</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="careers.html">Careers</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="press.html">Press</a>
    </li>
    <!--
    <li class="header__nav-item hvr-underline-from-left hidden">
      <a href="faq.html">FAQ</a>
    </li>
    -->
    <li class="header__nav-item header__nav-item-submenu" id="js-language">
      <a href="#" class="hvr-underline-from-left">EN
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <ul>
          <li class="hvr-underline-from-left">
            <a href="/de/">Deutsch</a>
          </li>
          <li class="is-active hvr-underline-from-left">
            <a href="/">English</a>
          </li>
          <li class=" hvr-underline-from-left">
            <a href="/pt/">Portuguese</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
