<header class="container header">
  <a href="/index">
    <img data-src="./img/logo.svg" class="header__logotype" alt="Wunder">
  </a>
  <div class="header__icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- active class: current -->
  <ul class="header__nav">
    <li class="header__nav-item hvr-underline-from-left">
      <a href="index">Carpool App</a>
    </li>
    <li class="header__nav-item header__nav-item-submenu " id="js-solutions">
      <a href="#" class="hvr-underline-from-left">Solutions
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <!-- active class= is-active-->
        <ul>
          <li>
            <a href="shuttle" class="hvr-underline-from-left">Wunder Shuttle</a>
          </li>
          <li>
            <a href="fleet" class="hvr-underline-from-left">Wunder Fleet</a>
          </li>
          <li>
              <a href="carpool" class="hvr-underline-from-left">Wunder Carpool</a>
          </li>
          <li>
              <a href="pricing" class="hvr-underline-from-left">Wunder Pricing</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="meetup">Meetup</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="careers">Careers & Team</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="press">Press</a>
    </li>
    <li class="header__nav-item hvr-underline-from-left">
      <a href="https://help.wunder.org/hc/en-gb" target="_blank">Help</a>
    </li>
    <!--<li class="header__nav-item header__nav-item-submenu" id="js-language">
      <a href="#">DE
        <span></span>
      </a>
      <div class="header__nav-subitem">
        <span class="arrow"></span>
        <ul>
          <li class="is-active">
            <a href="#">Deutsch</a>
          </li>
          <li>
            <a href="#">English</a>
          </li>
          <li>
            <a href="#">Portuguese</a>
          </li>
        </ul>
      </div>
    </li>-->
  </ul>
</header>
