<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46102456-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-46102456-1');
  </script>

  <meta charset="UTF-8" content="text/html">
  <title>Wunder Mobility</title>
  <meta name=”description” content="A smart mobility marketplace and tech platform providing carpooling, smart shuttles, and scooter/car-sharing to end customers, corporates, and cities.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta property="og:url"                content="https://wunder.org/" />
  <meta property="og:title"              content="Wunder Mobility" />
  <meta property="og:description"        content="A smart mobility marketplace and tech platform providing carpooling, smart shuttles, and scooter/car-sharing to end customers, corporates, and cities." />
  <meta property="og:image"              content="./img/fb-sharer-website.png" />
  <meta property="og:locale"             content="en_US" />
  <meta property="og:locale:alternate"   content="de_DE" />
  <meta property="fb:app_id"             content="1506255032932894" />

  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/main.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#EDEDED"
      },
      "button": {
        "background": "#06A0E3"
      }
    },
    "theme": "classic",
    "content": {
      "href": "https://www.wunder.org/privacy#cookies"
    }
  })});
  </script>
</head>
