<div class="profiles-masonry container">
  <h3>Advisors</h3>
  <div class="row">
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/davidjblumberg/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/david-blumberg.jpg" data-srcset="./img/david-blumberg@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>David Blumberg,
          <br/>
          <span>Member of the Advisory Board</span>
        </h2>
        <p class="profiles-masonry__role">Managing Partner, Blumberg Capital</p>

        <p>David is the Managing Partner of Blumberg Capital. David has been investing in early stage technology companies for
          more than 24 years. His investment focus includes Internet (B2B and B2C), digital media, social media, mobility,
          SaaS, and Technology Enabled Services. Prior to founding Blumberg Capital in 1991, David managed technology investments
          with Claridge Investments, Adler & Co., Apax Partners, and T. Rowe Price Associates. He launched the business development,
          marketing and PR efforts for Check Point Software Technologies.</p>

        <p>David's past investment exits include Siperian, Check Point Software Technologies, Teva, CREO, DSP Group, Electronics
          For Imaging, AbirNet, Conduct Software, Vista Research, and IP Infusion</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/andrin-bachmann-a69a6b/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/adrin-bachmann.jpg" data-srcset="./img/adrin-bachmann@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Andrin Bachmann,
          <br/>
          <span>Member of the Advisory Board</span>
        </h2>
        <p class="profiles-masonry__role">Partner, Piton Capital</p>
        <p>Andrin is a partner at Piton Capital, bringing both entrepreneurial and investment experience.</p>

        <p>He was a co-founder of Glocalnet, which became Sweden's 3rd largest consumer telecom service provider and was listed
          on the Stockholm Stock Exchange before being acquired by Telenor. He was a partner at M/C Venture Partners, one
          of the leading private equity investors in the US telecom services space. He was also one of two principals establishing
          an investment company that became QXL Ricardo PLC's largest shareholder in 2005, and was instrumental in the transformation
          of QXL leading to its sale to Naspers for around $1.9 billion.</p>

        <p>He holds an MSc degree in Computer Science from the Swiss Federal Institute of Technology (ETH)</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/christianvollmann/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/christian-vollmann.jpg" data-srcset="./img/christian-vollmann@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Christian Vollmann,
          <br/>
          <span>Advisor</span>
        </h2>
        <p class="profiles-masonry__role">Founder, nebenan.de</p>
        <p>Christian is the founder of Nebenan.de, the social network for your neighborhood. Previously he started iLove, MyVideo
          and eDarling and grew them into profitable businesses.</p>

        <p>As an active business angel he helped start companies such as Trivago, StudiVZ, ResearchGate, Airhelp.com and many
          more. Christian is on the board of the German Startups Association.</p>

        <p>He serves as an advisor on StartUp policy to the German Minister of Economics as well as on the HighTech Forum of
          the German Minister of Research & Education. He supports social entrepreneurs through Ashoka and betterplace.org.
          He is married, father of 3 boys and lives in Berlin.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/magnus-graf-lambsdorff-39174b/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/magnus-graf-lambsdorff.jpg" data-srcset="./img/magnus-graf-lambsdorff@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Magnus Graf Lambsdorff,
          <br/>
          <span>Advisor</span>
        </h2>
        <p class="profiles-masonry__role">Partner, Lakestar</p>
        <p>Magnus is a partner at Lakestar. Prior to that, Maguns was chief people officer at the company builder HitFox, focusing
          on Fintech and AdTech/Data. HitFox built up 20 internet based ventures that attracted >100m € investments and currently
          employ 760 professionals.</p>

        <p>As an active business angel in Germany and the US, Magnus invested in companies such as Madvertise, Fyber, Wunder,
          Twiki and Locr since 1999.</p>

        <p>Prior to joining HitFox, Magnus was a partner at Egon Zehnder, where he advised large international technology and
          online companies on leadership issues for 20 years.</p>

        <p>Magnus is also part of the Baden Badener Unternehmergespräche e.V., the German UNICEF committee, vice-regional party
          leader of the FDP in Hamburg and chair of the Freundeskreises Elbphilharmonie, Hamburg.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/michaelbrehm/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/michael-brehm.jpg" data-srcset="./img/michael-brehm@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Michael Brehm,
          <br/>
          <span>Advisor</span>
        </h2>
        <p class="profiles-masonry__role">Founder at M.C.B. Beteiligungs GmbH, Partner Redstone Digital GmbH</p>
        <p>Michael Brehm is a successful entrepreneur and business angel. Michael founded M.C.B. Beteiligungs GmbH in 2006 and
          is a founding Partner at Redstone Digital GmbH, a Berlin-based VC firm, managing multiple corporate venture funds
          through a unique VC-as-a-Service approach since 2014.</p>

        <p>From 2006 to 2008 he was managing director of studiVZ and significantly contributed to growing the company from its
          dorm room roots to become Europe's biggest social network at the time.</p>

        <p>Prior to that, he worked for Merrill Lynch Inc. in the M&A department. In 1995, while still at school, Michael founded
          his first business, a snowboard clothing company, and gained his first entrepreneurial experience.</p>

        <p>He got his degree in business administration from WHU in Vallendar (Germany). He also studied at CEIBS in Shanghai
          (China) and at EGADE in Monterrey (Mexico).</p>

      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/stephanuhrenbacher/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/stephan-uhrenbacher.jpg" data-srcset="./img/stephan-uhrenbacher@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Stephan Uhrenbacher,
          <br/>
          <span>Advisor</span>
        </h2>
        <p class="profiles-masonry__role">Founder & CEO FLIO, CEO Density Ventures</p>
        <p>Stephan Uhrenbacher is founder and CEO of FLIO, the global airport app. Flio was launched in 2015 and is currently
          on a stellar growth curve with many positive press reviews. Flio is a location based service specialist app for
          people in transit, partnering with airports, travel retail and global travel brands.</p>

        <p>Previously, Stephan founded Qype which he built into Europe's largest local review web site, first as CEO and then
          on the board of directors until Qype was acquired by Yelp in 2012. He founded several other companies such as short
          term lettings platform 9flats.com and Germany's leading eco market place avocadostore.de.</p>

        <p>Before becoming an entrepreneur, Stephan held several top management positions at well known internet companies such
          as lastminute.com and bild.de</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/sven-rawe-9b046815/">
          <img data-src="./img/icon-linkedin.svg">
        </a>
        <img data-src="./img/sven-rawe.jpg" data-srcset="./img/sven-rawe@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Sven Rawe,
          <br/>
          <span>Advisor</span>
        </h2>
        <p class="profiles-masonry__role">Managing Partner, LEPI Ventures GmbH</p>
        <p>Sven Rawe has been working in Germany and internationally as a communications consultant for political and regulatory
          matters for the past 20 years.</p>

        <p>In 2001 he founded Steltemeier & Rawe, a strategic communications and public policy consultancy, in Berlin. As the
          initiator of the Bernstein Group, he merged Bernstein Communications and Bernstein Public Policy (formerly Steltemeier
          & Rawe Public Policy) under one umbrella. He also co-founded Pathways Public Health GmbH and OneShore Energy GmbH.</p>

        <p>With his investment firm LEPI Ventures GmbH, Sven invests in and advises start-ups whose business success is highly
          impacted by current and future regulatory developments.</p>

        <p>Sven studied at the Free University of Berlin and the University of Sussex and holds a degree in political science
          as well as a Master's degree in Contemporary European Studies.</p>
      </div>
    </div>
    <!-- #End Speaker -->
  </div>
</div>
