<div class="profiles container">
    <h3>Executive Bios</h3>

    <div class="profiles__wrapper">
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/gunnarfroh/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/gunnar-froh.jpg" data-srcset="/img/gunnar-froh@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Gunnar Froh</h2>
            <p class="profiles__role">
                Gründer und Geschäftsführer Wunder Mobility
            </p>
            <div class="profiles__description">
                <p>Gunnar Froh ist Gründer und Geschäftsführer von Wunder Mobility, einem Technologie-Zulieferer für innovative und zukunftsweisende Mobilitätskonzepte. Das 2014 gegründete Unternehmen bietet als einziger internationaler Anbieter das gesamte Spektrum der neuen Mobilitätsdienste aus einer Hand an.
                <br><br>Froh kommt von Airbnb, wo er bis Ende 2013 eine leitende Rolle in der Internationalisierung gespielt hat. Airbnb übernahm 2011 Accoleo, einen Wohnraum-Marktplatz, den er 2009 gegründet hat. Zuvor sammelte Froh Erfahrungen als Berater bei McKinsey und gründete die gemeinnützige Carsharing-Organisation CampusCar.
                <br><br>Der gebürtige Schleswig-Holsteiner absolvierte sein Wirtschaftsstudium an der WHU in Deutschland und an der Kellogg School of Management in Chicago, USA. Er lebt und arbeitet in Hamburg.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="#">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/samuel-baker.jpg" data-srcset="/img/samuel-baker@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Samuel Baker</span>
            </h2>
            <p class="profiles__role">
                Co-Gründer und COO Wunder Mobility
            </p>
            <div class="profiles__description">
                <p>Samuel Baker ist seit 2014 der COO von Wunder Mobility, einem Technologie-Zulieferer für innovative und zukunftsweisende Mobilitätskonzepte. Das 2014 gegründete Unternehmen bietet als einziger internationaler Full-Stack-Anbieter das gesamte Spektrum der neuen Mobilitätsdienste aus einer Hand an.
                <br><br>Bis 2017 war Baker Partner bei Just Business, einem Seed Stage Inkubator in San Francisco. Davor war er als Director for Business Development für die internationale Non-Profit-Menschenrechtsorganisation Not for Sale in San Francisco tätig, nachdem er das Startup Computod@s in El Salvador mitgründete. Der gebürtige Amerikaner blickt auf weitreichende Erfahrung als Unternehmer und Investor zurück - unter anderem bei Stationen wie Ebay, Adidas und Kiva.
                <br><br>Samuel Baker hat einen Bachelor of Science-Abschluss in Commerce Finance, Music and International Business von der Santa Clara University, USA. Er lebt und arbeitet in Hamburg.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/djeusette/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/david-jeusette.jpg" data-srcset="/img/david-jeusette@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>David Jeusette</h2>
            <p class="profiles__role">
                CTO
            </p>
            <div class="profiles__description">
                <p>David ist seit 2016 CTO von Wunder Mobility, einem Technologieunternehmen aus Hamburg und Teil der neuen deutschen Automobilindustrie. Er verfügt über mehr als acht Jahre Erfahrung in der Mobilitätsbranche, gründete unter anderem die Plattformen Djengo und Djump und leitete dort als CTO das technische Team. Zuvor arbeitete David als Developer und schloss sein Studium zum Softwareingenieur (M.Sc.) an der Université catholique de Louvain mit magna cum laude ab.</p>
            </div>
        </div>
        <!-- #End Speaker -->
    </div>
</div>
