<div class="profiles-masonry container">
  <h3>Beirat</h3>
  <div class="row">
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/davidjblumberg/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/david-blumberg.jpg" data-srcset="/img/david-blumberg@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>David Blumberg,
          <br/>
          <span>Mitglied des Beirats</span>
        </h2>
        <p class="profiles-masonry__role">Geschäftsführender Gesellschafter, Blumberg Capital</p>

        <p>David ist geschäftsführender Gesellschafter von Blumberg Capital. David investiert seit mehr als 24 Jahren in junge Technologieunternehmen. Zu seinen Investitionsschwerpunkten zählen Internet (B2B und B2C), digitale Medien, Social Media, Mobilität, SaaS und Technology Enabled Services. Vor der Gründung von Blumberg Capital im Jahr 1991 leitete er Technologieinvestitionen bei Claridge Investments, Adler & Co., Apax Partners und T. Rowe Price Associates. Er startete die Geschäftsentwicklung, das Marketing und die PR für Check Point Software Technologies.</p>

        <p>David erhielt seinen AB in Government, cum laude, vom Harvard College und seinen MBA von der Stanford Graduate School of Business und INSEAD. Er spricht Französisch, Hebräisch und Spanisch. David ist Mitglied oder Beobachter im Vorstand von Credorax, DoubleVerify, HootSuite, Legolas, Parse.ly, Addepar, VideoGenie, Cyvera, CaseStack und Trulioo. Er ist Mitglied des Investment Committee von 137 Venture, Vorstandsmitglied des Lincoln Club of Northern California, Mitglied des Pacific Council on International Policy und Mitglied des Advisory Committee von StartOut.</p>

        <p>Zu Davids früheren Investitionen gehören Siperian, Check Point Software Technologies, Teva, CREO, DSP Group, Electronics For Imaging, AbirNet, Conduct Software, Vista Research und IP Infusion.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/andrin-bachmann-a69a6b/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/adrin-bachmann.jpg" data-srcset="/img/adrin-bachmann@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Andrin Bachmann,
          <br/>
          <span>Mitglied des Beirats</span>
        </h2>
        <p class="profiles-masonry__role">Partner, Piton Capital</p>
        <p>Andrin ist Partner bei Piton Capital und bringt sowohl unternehmerische als auch Investmenterfahrung mit.</p>

        <p>Zu seinen Meilensteinen zählt die Mitgründung von Glocalnet, dem drittgrößten Telekommunikationsdienstleister Schwedens. Das Unternehmen war an der Stockholmer Börse notiert, bevor Telenor es übernahm. Zudem agierte er als Partner bei M/C Venture Partners, einem der führenden Private-Equity-Investoren in den USA. Er und ein weiterer Principal gründeten außerdem eine Investmentgesellschaft, die sich 2005 zum größten Aktionär von QXL Ricardo PLC entwickelte. Er beteiligte sich maßgeblich an der Umwandlung von QXL, die zum Verkauf an Naspers für rund 1,9 Milliarden Dollar führte.</p>

        <p>Seinen MSc-Abschluss in Informatik erhielt er an der Eidgenössischen Technischen Hochschule (ETH).</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/laszlo-czirjak-5b0569/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/laszlo-robert-czirjak.jpg" data-srcset="/img/laszlo-robert-czirjak@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Laszlo Robert Czirjak,
          <br/>
          <span>Mitglied des Beirats</span>
        </h2>
        <p class="profiles-masonry__role">Geschäftsführender Gesellschafter, iEurope Capital</p>
        <p>Laszlo ist Mitbegründer und Geschäftsführer von iEurope Capital. Geboren und ausgebildet in den USA lebt er seit 1992 in Ungarn. Seine Erfahrungen in den Bereichen Risikokapital, Private Equity, Investment Banking und Betrieb umfassen E-Commerce, Internet, Automobil und Verkehr, Finanzdienstleistungen, Verbraucher und Einzelhandel, Energie, Gesundheitswesen, Produktion, Technologie, Unternehmensdienstleistungen sowie Medien und Telekommunikation.</p>

        <p>Vor der Gründung von iEurope war er von 1991-1998 Geschäftsführer der Bankers Trust Company/BT Alex Brown in London. Er leitete über 20 große M&A- und Restrukturierungsprojekte mit einem Volumen von über 1,5 Milliarden US-Dollar und 24 bedeutende Fremd- und Eigenkapitalfinanzierungen von insgesamt über 3,2 Milliarden US-Dollar.</p>

        <p>Zu Beginn seiner Karriere in New York arbeitete Herr Czirjak als Direktor bei der Bridgeford Group und der IBJ Schroder Bank, einer US-Investmentbank der Industrial Bank of Japan. Darüber hinaus war er bei Goldman Sachs (M&A und Projektfinanzierung) und im operativen Management der Chemical Bank tätig.</p>

        <p>Er erhielt einen MBA und BS in Wirtschaftsingenieurwesen von der Columbia University in New York – beides mit Auszeichnung.</p>

        <p>Herr Czirjak zählte zum Vorstand der Portfoliounternehmen von iEurope, darunter ATech, Vatera, Kupi Me und andere. Zudem ist er ehemaliges Mitglied des Board of Directors der MOL Rt. der börsennotierten ungarischen Öl- und Gasgesellschaft. Derzeit gehört er zum CEE-Beirat der AES Hungary (Tochtergesellschaft der NYSE AES Corp) und zum lokalen CEE-Beirat von Euro-Phoenix Financial Advisors.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/christianvollmann/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/christian-vollmann.jpg" data-srcset="/img/christian-vollmann@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Christian Vollmann,
          <br/>
          <span>Berater</span>
        </h2>
        <p class="profiles-masonry__role">Gründer, nebenan.de</p>
        <p>Christian ist der Gründer von nebenan.de, dem sozialen Netzwerk für Ihre Nachbarschaft. Zuvor gründete er iLove, MyVideo und eDarling und baute sie zu profitablen Unternehmen aus.</p>

        <p>Als aktiver Business Angel half er Unternehmen wie Trivago, StudiVZ, ResearchGate, Airhelp.com und vielen anderen. Christian ist im Vorstand des Deutschen Gründerverbandes.</p>

        <p>Er berät den Bundeswirtschaftsminister bei der Start-up-Politik sowie das HighTech-Forum des Bundesforschungsministers. Er unterstützt Social Entrepreneurs durch Ashoka und betterplace.org. Christian Vollmann ist verheiratet, Vater von drei Jungen und lebt in Berlin.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/magnus-graf-lambsdorff-39174b/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/magnus-graf-lambsdorff.jpg" data-srcset="/img/magnus-graf-lambsdorff@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Magnus Graf Lambsdorff,
          <br/>
          <span>Berater</span>
        </h2>
        <p class="profiles-masonry__role">Partner, Lakestar</p>
        <p>Magnus ist Partner bei Lakestar. Davor war er Chief People Officer beim Firmengründer HitFox mit den Schwerpunkten Fintech und AdTech/Data. HitFox baute 20 internetbasierte Unternehmen auf, die Investitionen von über 100 Millionen Euro gewannen und derzeit 760 Mitarbeiter beschäftigen.</p>

        <p>Als aktiver Business Angel in Deutschland und den USA investierte Magnus seit 1999 in Unternehmen wie Madvertise, Fyber, Wunder, Twiki und Locr.</p>

        <p>Bevor er bei HitFox einstieg, arbeitete Magnus Partner bei Egon Zehnder. Dort beriet er 20 Jahre lang große internationale Technologie- und Online-Unternehmen in Führungsfragen.</p>

        <p>Magnus ist auch Mitglied im Baden-Badener Unternehmergespräche e.V., dem deutschen UNICEF-Ausschuss, stellvertretender Landesvorsitzender der FDP in Hamburg und Vorsitzender der Freundeskreise Elbphilharmonie, Hamburg.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/michaelbrehm/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/michael-brehm.jpg" data-srcset="/img/michael-brehm@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Michael Brehm,
          <br/>
          <span>Berater</span>
        </h2>
        <p class="profiles-masonry__role">Gründer der M.C.B. Beteiligungs GmbH, Partner Redstone Digital GmbH</p>
        <p>Michael Brehm ist ein erfolgreicher Unternehmer und Business Angel. Michael gründete im Jahr 2006 die M.C.B. Beteiligungs GmbH und ist Gründungspartner der Redstone Digital GmbH, einer Berliner VC-Firma, die seit 2014 mehrere Corporate Venture Funds über einen einzigartigen VC-as-a-Service-Ansatz verwaltet.</p>

        <p>Von 2006 bis 2008 war er Geschäftsführer von studiVZ und trug maßgeblich dazu bei, das Unternehmen von seinen Wurzeln im Wohnheim zum damals größten sozialen Netzwerk Europas zu entwickeln.</p>

        <p>Davor war er bei Merrill Lynch Inc. in der M&A-Abteilung tätig. Bereits während der Schulzeit gründete er 1995 sein erstes Unternehmen, eine Snowboard-Bekleidungsfirma, und sammelte erste unternehmerische Erfahrungen.</p>

        <p>Er studierte Betriebswirtschaftslehre an der WHU in Vallendar (Deutschland) und besuchte auch die CEIBS in Shanghai (China) und die EGADE in Monterrey (Mexiko).</p>

        <p>Als Business Angel investiert Michael vor allem in digitale Unternehmen aus den Bereichen Bildung, Gesundheitswesen und B-to-B-Dienstleistungen. Derzeit beteiligt er sich an Unternehmen wie Kreditech oder Atheneum Partners GmbH. Zu Michaels bisherigen Exits zählen kaufDA / Bonial, brands4friends, amiando AG, studiVZ, DailyDeal GmbH, Ensogo, deal.com.sg, CBL International oder Scoreloop AG.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/stephanuhrenbacher/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/stephan-uhrenbacher.jpg" data-srcset="/img/stephan-uhrenbacher@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Stephan Uhrenbacher,
          <br/>
          <span>Berater</span>
        </h2>
        <p class="profiles-masonry__role">Gründer & CEO FLIO, CEO Density Ventures</p>
        <p>Stephan Uhrenbacher ist Gründer und CEO von FLIO, der globalen Flughafen-Applikation. Flio wurde im Jahr 2015 lanciert und befindet sich derzeit auf einem steilen Wachstumskurs mit vielen positiven Pressestimmen. Flio ist eine Location Based Service Specialist App für Menschen im Transit, die mit Flughäfen, Reiseveranstaltern und globalen Reisemarken zusammenarbeitet.</p>

        <p>Zuvor gründete Stephan Qype, das er zunächst als CEO und dann im Vorstand bis zur Übernahme durch Yelp im Jahr 2012 in die größte lokale Review-Website Europas integrierte. Er gründete weitere Unternehmen wie die Kurzzeitvermietungsplattform 9flats.com und Deutschlands führenden Öko-Marktplatz avocadostore.de.</p>

        <p>Bevor er Unternehmer wurde, bekleidete er verschiedene Führungspositionen bei namhaften Internetunternehmen wie lastminute.com und bild.de.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker-->
    <div class="col-md-4 col-sm-6 profiles-masonry__speaker">
      <div class="profiles-masonry__image">
        <a href="https://www.linkedin.com/in/sven-rawe-9b046815/">
          <img data-src="/img/icon-linkedin.svg">
        </a>
        <img data-src="/img/sven-rawe.jpg" data-srcset="/img/sven-rawe@2x.jpg 2x" alt="" class="lazyload">
      </div>
      <div class="profiles-masonry__content">
        <h2>Sven Rawe,
          <br/>
          <span>Berater</span>
        </h2>
        <p class="profiles-masonry__role">Geschäftsführender Gesellschafter, LEPI Ventures GmbH</p>
        <p>Sven Rawe ist seit 20 Jahren in Deutschland und international als Kommunikationsberater für politische und regulatorische Fragen tätig.</p>

        <p>m Jahr 2001 gründete er Steltemeier & Rawe, eine strategische Kommunikations- und Politikberatung in Berlin. Als Initiator der Bernstein Gruppe führte er Bernstein Communications und Bernstein Public Policy (ehemals Steltemeier & Rawe Public Policy) unter einem Dach zusammen. Außerdem war er Mitbegründer der Pathways Public Health GmbH und der OneShore Energy GmbH.</p>

        <p>Mit seiner Beteiligungsgesellschaft LEPI Ventures GmbH investiert und berät Sven Start-ups, deren Geschäftserfolg stark von aktuellen und zukünftigen regulatorischen Entwicklungen beeinflusst wird.</p>

        <p>Sven studierte an der Freien Universität Berlin und der University of Sussex und besitzt einen Abschluss in Politikwissenschaft sowie einen Master in Contemporary European Studies.</p>
      </div>
    </div>
    <!-- #End Speaker -->
  </div>
</div>
