<div class="profiles container">
    <h3>Executive Bios</h3>

    <div class="profiles__wrapper">
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/gunnarfroh/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/gunnar-froh.jpg" data-srcset="/img/gunnar-froh@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Gunnar Froh</h2>
            <p class="profiles__role">
                CEO & Gründer
            </p>
            <div class="profiles__description">
                <p>Gunnar ist junger Vater und der Gründer und Geschäftsführer von Wunder. Zuvor hat er eine Firma an Airbnb verkauft wo er Teil des Leitungsteams war als die Firma von 40 auf 1.500 Mitarbeiter gewachsen ist und in San Francisco und Europa gearbeitet hat. Vor Airbnb war Gunnar als Berater in der Automotive Practice und der Energy Practice von McKinsey tätig. Er hat Operations Management im Doktorandenprogramm der WHU sowie in Kellogg in Chicago studiert.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="#">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/samuel-baker.jpg" data-srcset="/img/samuel-baker@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Samuel Baker</span>
            </h2>
            <p class="profiles__role">
                COO
            </p>
            <div class="profiles__description">
                <p>Samuel ist seit 2014 COO bei Wunder Mobility, einem Technologieunternehmen aus Hamburg und Teil der neuen deutschen Automobilindustrie. Nach Stationen bei eBay und Adidas gründete er das lateinamerikanische Start-up Computod@s, bevor er als Partner bei Just Business, einem Seed Stage Inkubator und VC in San Francisco, einstieg. Der gebürtige Amerikaner punktet durch weitreichende Erfahrung als Unternehmer im Non-Profit- wie For-Profit-Sektor und als Investor in disruptive Technologien und Consumer Brands. Seinen Bachelor of Science in Commerce Finance, Music and International Business absolvierte Samuel Baker an der Santa Clara University.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/djeusette/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/david-jeusette.jpg" data-srcset="/img/david-jeusette@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>David Jeusette</h2>
            <p class="profiles__role">
                CTO
            </p>
            <div class="profiles__description">
                <p>David ist seit 2016 CTO von Wunder Mobility, einem Technologieunternehmen aus Hamburg und Teil der neuen deutschen Automobilindustrie. Er verfügt über mehr als acht Jahre Erfahrung in der Mobilitätsbranche, gründete unter anderem die Plattformen Djengo und Djump und leitete dort als CTO das technische Team. Zuvor arbeitete David als Developer und schloss sein Studium zum Softwareingenieur (M.Sc.) an der Université catholique de Louvain mit magna cum laude ab.</p>
            </div>
        </div>
        <!-- #End Speaker -->
    </div>
</div>
