<div class="profiles container">
    <h3>Executive Bios</h3>

    <div class="profiles__wrapper">
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/gunnarfroh/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/gunnar-froh.jpg" data-srcset="./img/gunnar-froh@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Gunnar Froh</h2>
            <p class="profiles__role">
                CEO & Gründer
            </p>
            <div class="profiles__description">
                <p>Gunnar Froh ist Gründer und CEO von Wunder Carpooling (ehemals WunderCar), einem Technologieunternehmen aus Hamburg und Teil der neuen deutschen Automobilindustrie. Vor der Gründung von Wunder im Jahr 2014 war Gunnar Teil des Leadership Teams bei Airbnb, dem Vorreiter der Sharing Economy aus San Francisco, nachdem das Unternehmen 2011 ein von ihm gegründetes Start-up übernommen hat. Zuvor war Gunnar als Berater bei McKinsey & Company tätig. Gunnar Froh hat an der WHU - Otto Beisheim School of Management seinen Diplomkaufmann (M.Sc.) erworben, an der HEC Montréal sowie an der SMU Dallas studiert und als Teaching Assistant an der WHU in Koblenz sowie Kellogg School of Management in Chicago am PhD-Programm teilgenommen.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="#">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/samuel-baker.jpg" data-srcset="./img/samuel-baker@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Samuel Baker</span>
            </h2>
            <p class="profiles__role">
                COO
            </p>
            <div class="profiles__description">
                <p>Samuel Baker ist seit 2014 COO bei Wunder Carpool (ehemals WunderCar), einem Technologieunternehmen aus Hamburg und Teil der neuen deutschen Automobilindustrie. Nach Stationen bei eBay und Adidas gründete er das lateinamerikanische Startup Computod@s, bevor er als Partner bei Just Business, einem Seed Stage Inkubator und VC in San Francisco, einstieg. Der gebürtige Amerikaner hat weitreichende Erfahrung als Unternehmer im non-profit wie for-profit Sektor und als Investor in disruptive Technologien und Consumer Brands. Samuel Baker hat seinen Bachelor of Science an der Santa Clara University in Commerce Finance, Music and International Business absolviert.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/djeusette/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/david-jeusette.jpg" data-srcset="./img/david-jeusette@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>David Jeusette</h2>
            <p class="profiles__role">
                CTO
            </p>
            <div class="profiles__description">
                <p>David Jeusette ist seit 2016 CTO von Wunder Carpool (ehemals WunderCar), einem Technologieunternehmen aus Hamburg und Teil der neuen deutschen Automobilindustrie. Er verfügt über mehr als acht Jahre Erfahrung in der Mobilitätsbranche, gründete unter anderem die Plattformen Djengo und Djump und war dort als CTO für die Leitung der technischen Teams zuständig. David verfügt über langjährige Erfahrung als Developer und schloss sein Studium zum Softwareingenieur (M.Sc.) an der Université catholique de Louvain mit magna cum laude ab.</p>
            </div>
        </div>
        <!-- #End Speaker -->
    </div>
</div>
