<div class="profiles container">
  <h3>Upcoming Speakers</h3>

  <div class="profiles__wrapper">
    <!-- #Start Speaker -->
    <div class="profiles__speaker">
      <div class="profiles__image">
        <a href="https://www.linkedin.com/in/konstantinsixt/"><img data-src="/img/icon-linkedin.svg"></a>
        <img data-src="/img/konstantin-sixt.jpg" data-srcset="/img/konstantin-sixt@2x.jpg 2x" class="lazyload"/>
      </div>
      <h2>Konstantin Sixt</h2>
      <p class="profiles__role">
          Board Member Sixt SE<br/>
          Chief Sales Officer (CSO)
      </p>
      <div class="profiles__description">
        <p>Konstantin Sixt, born in 1982, studied business administration in Geneva, Paris and London and holds an MSc in Int. Accounting and Finance from City University, (CASS Business School), London. He joined today's Sixt SE in 2005 and has been responsible for the company's online business since then. In addition to his current functions, Mr. Sixt has also been responsible for the complete distribution of Sixt Car Rental since 2013. In addition to its core business, Sixt SE promotes and operates innovative business models such as Sixt get a ride.</p>
        <p>Konstantin Sixt has been socially involved for many years as a board member of the charity foundation "Drying little tears", founded by Regine Sixt. The organisation looks after children in need worldwide, implements aid projects and works with other organisations. Sixt SE is a leading international mobility service provider with a presence in several countries. The company offers comprehensive mobility solutions including rental, leasing, chauffeur services and complementary services.</p>
      </div>
    </div>
    <!-- #End Speaker -->
    <!-- #Start Speaker -->
    <div class="profiles__speaker">
        <div class="profiles__image">
          <a href="https://www.linkedin.com/in/carloiacovini/"><img data-src="/img/icon-linkedin.svg"></a>
          <img data-src="/img/carlo-lacovini.jpg" data-srcset="/img/carlo-lacovini@2x.jpg 2x" class="lazyload" />
        </div>
        <h2>Carlo Lacovini</h2>
        <p class="profiles__role">
            Marketing Director
        </p>
        <div class="profiles__description">
            <p>Carlo has nearly 20 years background in public and private businesses always at the forefront of mobility and innovation. Passionate about new technology and the EV industry, he serves as marketing director of Local Motors with the goal of positioning the brand and supporting business development.</p>
 
            <p>Over the last 4 years, he worked as a marketing director and corporate relations of Energica Motor Company, an innovative premium high tech electric motorcycle company, setting strategic partnerships and launching operations in Europe and US. Before that he spent more than 10 years on new mobility services especially in the sharing industry. He designed and ran operations of car sharing services since early 2000, in Italy and beyond (Australia). Being a Board member of Clickutility On earth, he supported the launch of Car2go and Mytaxi in Italy.</p>
        </div>
      </div>
      <!-- #End Speaker -->
    <!-- #Start Speaker -->
    <div class="profiles__speaker">
        <div class="profiles__image">
          <a href="https://www.linkedin.com/in/juergen-mayntz-6308161/"><img data-src="/img/icon-linkedin.svg"></a>
          <img data-src="/img/jurgen-mayntz.jpg" data-srcset="/img/jurgen-mayntz@2x.jpg 2x" class="lazyload" />
        </div>
        <h2>Jurgen Mayntz</h2>
        <p class="profiles__role">
            Head of Business Development
        </p>
        <div class="profiles__description">
            <p>Jürgen has more than 25 years of experience in the software and automotive industry.
                During his career, he served as Director and Vice President for several software companies in the US, Canada and Germany.</p>
 
            <p>He studied automotive engineering at RWTH Aachen and held also several lectureships in the field of interaction design, marketing and internet technologies.</p>
        </div>
      </div>
      <!-- #End Speaker -->
  </div>
</div>