.btn {
  font-family: $base-font-family;
  font-weight: $font-bold;
  border-radius: 2px;
  padding: rem(15px) rem(50px);
  font-size: rem(14px);
  border: 0;

  &--blue {
    background: $sky-blue;
    color: #fff;
    transition: all .5s;

    &:hover {
      background: #0588c1;
      text-decoration: none;
    }

    &:active {
      background: #0588c1;
      -webkit-box-shadow: inset 0px 5px 0px -1px rgba(0,0,0,0.2);
      -moz-box-shadow: inset 0px 5px 0px -1px rgba(0,0,0,0.2);
      box-shadow: inset 0px 5px 0px -1px rgba(0,0,0,0.2);
    }
  }
}
