.features {
  
  h2 {
    font-size: rem(18px);
    font-weight: $font-bold;
    padding-top: rem(5px);
    padding-bottom: rem(10px);
  }

  p {
    line-height: 1.5;
  }

  img {
    max-width: 90%;   
    margin: rem(40px) 5%; 

    @include rwd(tablet-up) {
      max-width: 100%;
      margin: auto;
    }
  }
}

.feature {
  margin-bottom: rem(40px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  img {
    margin-right: rem(25px);
  }
}