<div class="intro-text">
  <a class="round-cta" href="jobs.html">Browse Jobs</a>
  <div class="container">
    <div class="row">
      <div class="intro-text__heading col-md-4">
        <h3 class="text-right-md">
          Who we are and<br> what we do
        </h3>
      </div>
      <div class="intro-text__content col-md-8">
        <p>
          We are a tech platform used by startups, corporates, and cities to launch and scale new mobility services. Wunder’s technology is used by dozens of clients in 30+ cities on four continents. Wunder is the only software company hosting the full stack of new mobility solutions. Its portfolio includes carpooling, smart shuttles and fleet management (car, bike and scooter sharing). Wunder operates as a technology provider for cities and communities, promoting the digitization of public transport. Transport companies and companies from the automotive industry in Europe, Latin America, and Japan have already decided to use Wunder’s technology.
        </p>
      </div>
    </div>
  </div>
</div>
