<div class="intro-text">
  <a class="round-cta" href="jobs.html">Browse Jobs</a>
  <div class="container">
    <div class="row">
      <div class="intro-text__heading col-md-4">
        <h3 class="text-right-md">
          We live life and do work<br> the Wunder way
        </h3>
      </div>
      <div class="intro-text__content col-md-8">
        <p>
          One of the biggest things you can expect at Wunder, is to see people turning ideas into action and making decisions. We like to take risks. We like to try new things. We like to work in a world free of judgment and find fun in all we do.
        </p>
      </div>
    </div>
  </div>
</div>
