<div class="simple-slider__wrapper">
    <div class="simple-slider simple-slider--press">
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="col-md-3 order-2 order-md-1 simple-slider__image">
              <img data-src="./img/logo-tagesspiegel.png" data-srcset="./img/logo-tagesspiegel@2x.png 2x" class="lazyload">
            </div>
            <div class="col-md-9 order-1 order-md-2 simple-slider__item-content">            
              <p>Cars, of course, are not built at Wunder, but new mobility concepts are designed that are already part of everyday life in Manila, the capital of the Philippines, Bangalore in India and Rio de Janeiro.</p>    
            </div>            
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="col-md-3 order-2 order-md-1 simple-slider__image">
              <img data-lazy="./img/logo-topgear.svg">
            </div>
            <div class="col-md-9 order-1 order-md-2 simple-slider__item-content">            
              <p>This new app shows a lot of promise. If Wunder gains momentum and garners positive testimonials, then we’ll have one more precious tool to use against the traffic problem.</p>    
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="col-md-3 order-2 order-md-1 simple-slider__image">
              <img data-lazy="./img/logo-inc.png" data-srcset="./img/logo-inc@2x.png 2x">
            </div>
            <div class="col-md-9 order-1 order-md-2 simple-slider__item-content">
              <p>Meet the Southeast Asian Carpooling App Run Out of Germany. Save money and help solve the traffic problem.</p>
            </div>            
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->     
    </div>
  </div>