<div class="simple-slider__wrapper">
  <div class="simple-slider">
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Carpool Flexibly</h2>
            <p>No matter if you want to offer or find rides, Wunder allows to easily create rides, pick a preferred route and switch your role on each ride. Simply set your origin, destination and start time. As a car-owner you are free to set the fare for your ride.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="./img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="./img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-src="./img/phone-slider-1.png" data-srcset="./img/phone-slider-1@2x.png 2x" alt="" class="lazyload">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Find Matches Quickly</h2>
            <p>Once you created a ride, easily browse through the available matches on the map and request or offer rides to organize a carpool.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="./img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="./img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="./img/phone-slider-2.png" data-srcset="./img/phone-slider-2@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Active Ride</h2>
            <p>Once a carpool is confirmed, the app guides you smoothly through the process with its main actions. Use the highlighted action buttons to start a ride or complete a payment.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="./img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="./img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="./img/phone-slider-3.png" data-srcset="./img/phone-slider-3@2x.png 2x">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Easy Payment</h2>
            <p>Once you start a ride as a passenger you can pay via our integrated wallet. It's very easy to top up and to pay. You can also pay by cash.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="./img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="./img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="./img/phone-slider-4.png" data-srcset="./img/phone-slider-4@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Rating</h2>
            <p>Did you have a nice commute to work? To finish the ride just rate your driver/passenger and share your commuting experience by writing a comment.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="./img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="./img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-src="./img/phone-slider-5.png" data-srcset="./img/phone-slider-5@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
  </div>
</div>
