<div class="simple-slider__wrapper">
  <h2 class="simple-slider__title">Our Process</h2>
    <div class="simple-slider simple-slider--shuttle simple-slider--process">
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2 col-md-3 simple-slider__image">
              <img data-src="./img/shuttle-process-slider-discovery.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Discovery</h2>
              <ul class="simple-slider__item-list">
                <li>We start with a joint analysis of your mobility needs and demo of our technology, including any pre-existing technology which requires integration.</li>
                <li>Next we present you with a detailed project proposal including technology, team as well as KPIs, timelines and a clear budget.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2 col-md-3 simple-slider__image">
              <img data-lazy="./img/shuttle-process-slider-preparation.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Preparation</h2>
              <ul class="simple-slider__item-list">
                <li>With your approval we begin localizing the technology, setting up KPI monitoring tools and defining the final business area.</li>
                <li>In parallel our growth and marketing experts can craft a customized go-to-market strategy for communicating the mobility service launch.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2  col-md-3 simple-slider__image">
              <img data-lazy="./img/shuttle-process-slider-launch.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Launch</h2>
              <ul class="simple-slider__item-list">
                <li>We collaborate closely with your team to facilitate to launch of the mobility service, which can be tracked in real-time on your customized dashboards.</li>
                <li>It is also possible to assist in integrating existing vehicles such as vans, buses or shared cars on the platform as well as training professional drivers.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2  col-md-3 simple-slider__image">
              <img data-lazy="./img/shuttle-process-slider-scaling.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Scaling</h2>
              <ul class="simple-slider__item-list">
                <li>We support you to scale the service and balance supply and demand</li>
                <li>If required, we manage all marketing and growth activities with the help of a dedicated operations team</li>
                <li>Our tech team provides continuous software updates and maximizes the efficiency and quality of service</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
    </div>
  </div>
