<div class="picture-slider__wrapper">
    <div class="picture-slider picture-slider--green" style="width: 100%">
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-src="./img/team-slider-1.jpg" data-srcset="./img/team-slider-1@2x.jpg 2x" class="lazyload"/>
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__author">Justus Toelle (Germany)</p>
                        <p class="picture-slider__quote">A Brazilian, a Thai, a Portuguese, a Pole and a German walk into a Korean BBQ Restaurant. What sounds like the first line of a joke is a regular Friday evening at Wunder. We are a really good team with close relationships. That’s what I appreciate about working here.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="./img/team-slider-2.jpg" data-srcset="./img/team-slider-2@2x.jpg 2x" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__author">Tamy Ribeiro (Brazil) <span>– Brand Partnerships</span></p>
                        <p class="picture-slider__quote">Wunder’s mission attracts incredible co-workers, passionate about the social impact that our work can have on someone’s life. The sense of autonomy and the freedom to apply skills in our daily work foster innovation and make Wunder a fast-paced, data-driven and ideal place to work and develop ourselves as professionals and as human beings.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="./img/team-slider-3.jpg" data-srcset="./img/team-slider-3@2x.jpg 2x" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__author">Jared Beekhuyzen (Australia) <span>– Video & Storytelling</span></p>
                        <p class="picture-slider__quote">The most exciting aspect of working at Wunder is the creative possibility. Telling stories for a product that has the potential to change people’s lives on different levels is the fuel every creative craves. That possibility is nurtured by the working enviroment; a dynamic office filled with a young international team.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
    </div>
</div>
