<div class="picture-slider__wrapper">
  <div class="container">
    <h3>Experiences of our wunder <br/>community members</h3>
  </div>
  <div class="picture-slider">
    <!-- Slider Item -->
    <div class="picture-slider__item">
      <div class="picture-slider__background">
        <img data-src="./img/testimonial-slider-1.jpg" data-srcset="./img/testimonial-slider-1@2x.jpg 2x" class="lazyload" alt=""/> 
      </div>
      <div class="container picture-slider__content-wrapper">
        <div class="picture-slider__content">
          <p class="picture-slider__author">Rohan, Mumbai (India)</p>
          <p class="picture-slider__quote">With a tap of my finger I can find drivers going in my direction. And I am just sharing the cost of fuel. It’s also helping Mumbai to become cleaner and greener.</p>
        </div>
      </div>
    </div>
    <!-- #end Slider Item -->
    <!-- Slider Item -->
    <div class="picture-slider__item">
      <div class="picture-slider__background">
        <img data-lazy="./img/testimonial-slider-2.jpg" data-srcset="./img/testimonial-slider-2@2x.jpg 2x" alt=""/> 
      </div>
      <div class="container picture-slider__content-wrapper">
        <div class="picture-slider__content">
          <p class="picture-slider__author">Myleen, Manila (Philippines)</p>
          <p class="picture-slider__quote">With the taxi app that I used before I spent around 250 one way from Parañaque City to BGC. Now since I carpool with Wunder I only spend 60 Pesos and always get to know nice people.</p>
        </div>
      </div>
    </div>
    <!-- #end Slider Item -->
    <!-- Slider Item -->
    <div class="picture-slider__item">
      <div class="picture-slider__background">
        <img data-lazy="./img/testimonial-slider-3.jpg" data-srcset="./img/testimonial-slider-3@2x.jpg 2x" alt=""/> 
      </div>
      <div class="container picture-slider__content-wrapper">
        <div class="picture-slider__content">
          <p class="picture-slider__author">Radhika, Delhi (India)</p>
          <p class="picture-slider__quote">I prefer carpooling with Wunder instead of catching public transports. I save time and money.</p>
        </div>
      </div>
    </div>
    <!-- #end Slider Item -->
  </div>
</div>