{% include partials/global/_head.html %}

<body data-menu="1" data-submenu="1">
    {% include partials/global/_header.html %}
    <main class="solutions solutions--fleet">
        {% include partials/banner/_banner-fleet.html %} 
        {% include partials/_client-list.html %}
        {% include partials/icons-text/_icons-text-fleet.html %}
        {% include partials/slider/_shuttle-slider.html %}
        {% include partials/text-boxes/_text-boxes-fleet.html %} 
        {% include partials/_locations-map.html %}
        {% include partials/slider/_shuttle-process-slider.html %}
        {% include partials/shuttle-options/_shuttle-options--fleet.html %}
        {% include partials/_contact-form.html %}
    </main>
    {% include partials/global/_footer.html %} 
    {% include partials/global/_foot.html %}
</body>

</html>