{% include partials/global/_head.html %}

<body data-menu="2">
  {% include partials/global/_header.html %}
  <main class="meetup">
    {% include partials/banner/_banner-meetup.html %} {% include partials/icons-text/_icons-text-meetup.html %} {% include partials/slider/_meetup-slider.html
    %} {% include partials/profiles/_upcoming-speakers.html %} {% include partials/_sponsors.html %} {% include partials/profiles/_profiles-masonry.html
    %} {% include partials/_participants.html %} {% include partials/_contact-form.html %}
  </main>
  {% include partials/global/_footer.html %} {% include partials/global/_foot.html %}
</body>

</html>