{% include partials/global/_head.html %}

<body class="en" data-menu="5">
    {% include partials/global/_header.html %}
    <main class="press">
        {% include partials/banner/_banner-press.html %}
        {% include partials/_press-kit.html %}
        {% include partials/_article-listing.html %}

        {% include partials/slider/_press-slider.html %}

        <section class="article-listing container">
          <h3>Press Releases</h3>
          <div class="article-listing__wrapper">
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="/img/logo-mobile.svg" alt="Deccan Herald">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">05.09.2018</date>
                    <p class="article-listing__title">Wunder Mobility raises $30M Series B</p>
                    <a target="_blank" href="/img/wundermobility_raises_30m.pdf">Read article</a>
                </div>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="./img/logo-mobile.svg" alt="Deccan Herald">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">19.10.2017</date>
                    <p class="article-listing__title">Autotech Meetup</p>
                    <a target="_blank" href="https://drive.google.com/file/d/0B3B9Gsf0a0LTcTA4RXVRX1Z2Y29JQXFoN1NhMHlDTDh0dDZr/view?usp=sharing">Read article</a>
                </div>
            </div>
            <!-- #end Item -->
            <!-- Item -->
            <div class="article-listing__item row">
                <div class="col-md-3 article-listing__image">
                    <img data-src="./img/logo-mobile.svg" alt="Deccan Herald">
                </div>
                <div class="col-md-9">
                    <date class="article-listing__date">14.09.2017</date>
                    <p class="article-listing__title">CO2 Einsparungen durch Carpooling</p>
                    <a target="_blank" href="https://drive.google.com/file/d/0B3B9Gsf0a0LTX2lZMFIxajlZSDVjQ1JTVkcwNkZEaE1nbjA4/view?usp=sharing">Read article</a>
                </div>
            </div>
            <!-- #end Item -->
          </div>
      </section>

        {% include partials/_contact-form.html %}
    </main>
    {% include partials/global/_footer.html %} {% include partials/global/_foot.html %}
</body>

</html>
