{% include partials/global/_head.html %}

<body data-menu="1" data-submenu="3">
    {% include partials/global/_header.html %}
    <main class="solutions solutions--shuttle">
        {% include partials/banner/_banner-shuttle.html %} 
        {% include partials/_client-list.html %}
        {% include partials/_pricing-list.html %}
        <div class="pricing-features container">
          <div class="row">
            <div class="pricing-features__item col-md-12">
                <h3>Base features in all products</h3>
                <ul class="pricing-features__list pricing-features__list--split">
                  <li>Mobile Apps for Android and iOS</li>
                  <li>Your branding</li>
                  <li>Backend service tools for user management</li>
                  <li>Your customer pricing</li>
                  <li>Customer Registration and Verification</li>
                  <li>Vehicle tracking</li>
                  <li>Invoicing</li>
                  <li>KPI Dashboards</li>
                  <li>Credit and Debit Card Transactions</li>
                  <li>Hosting via Cloud</li>
                  <li>Definition of custom service area</li>
                </ul>
            </div>
            <div class="pricing-features__item col-md-6">
                <h3>Setup costs</h3>
                <ul class="pricing-features__list">
                  <li>One-time setup costs dependent on customization</li>
                  <li>Examples include: 
                    <ul class="pricing-features__sublist">
                      <li>Custom payment solutions</li>
                      <li>New language integration </li>
                      <li>Integration with current IT system</li>
                    </ul>
                  </li>
                </ul>
            </div>
            <div class="pricing-features__item col-md-6">
              <h3>Custom Features</h3>
              <span>(on request with additional cost)</span>
              <ul class="pricing-features__list">
                <li>Integrate custom payment solutions (beyond debit and credit card)</li>
                <li>New local language translation</li>
                <li>Integration with current IT system </li>
              </ul>
            </div>
          </div>
        </div>
        {% include partials/_contact-form.html %}
    </main>
    {% include partials/global/_footer.html %} 
    {% include partials/global/_foot.html %}
</body>

</html>