<div class="shuttle-options container">
  <div class="row">
      <h3>Nossa plataforma é versátil e apresenta suporte para caronas, compartilhamento de carros e shuttle inteligente.</h3>
  </div>
  <div class="row shuttle-options__image">
      <img data-src="/img/shuttle-options.svg" alt="Shuttle Options">
  </div>
  <div class="row">
      <div class="col-md-4">
          <img data-src="/img/icon-shuttle.svg" alt="" class="shuttle-options__icon">
          <h2>Shuttle</h2>
          <p>Os passageiros solicitam uma viagem e um motorista profissional os leva ao destino solicitado.</p>
          <a href="./shuttle.html">Leia mais</a>
      </div>
      <div class="col-md-4">
          <img data-src="/img/icon-fleet.svg" alt="" class="shuttle-options__icon">
          <h2>Frota</h2>
          <p>Os motoristas alugam um carro ou scooter por minuto ou hora. Aluguel disponível em locais fixos ou móveis.</p>
          <a href="./fleet.html">Leia mais</a>
      </div>
      <div class="col-md-4">
          <img data-src="/img/icon-carpool.svg" alt="" class="shuttle-options__icon">
          <h2>Carona</h2>
          <p>Os motoristas compartilham assentos vazios em um carro particular em uma viagem que eles planejaram com antecedência.</p>
          <a href="./carpool.html">Leia Mais</a>
      </div>
  </div>
</div>
