<div class="profiles container">
    <h3>Executive Bios</h3>

    <div class="profiles__wrapper">
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/gunnarfroh/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/gunnar-froh.jpg" data-srcset="/img/gunnar-froh@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Gunnar Froh</h2>
            <p class="profiles__role">
                CEO & Founder
            </p>
            <div class="profiles__description">
                <p>Gunnar is a first-time father and the Founder and CEO of Wunder Mobility. Previously, he sold a company to Airbnb where he became part of the leadership team during their hyper-growth phase from 40 to 1,500 people working in San Francisco and Europe . Before Airbnb, Gunnar worked with automotive and energy practices at McKinsey. He studied Operations Management as a postgraduate at WHU in Germany and Kellogg in Chicago before abandoning the program to join Airbnb.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="#">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/samuel-baker.jpg" data-srcset="/img/samuel-baker@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>Samuel Baker</span>
            </h2>
            <p class="profiles__role">
                COO
            </p>
            <div class="profiles__description">
                <p>Samuel is the COO (since 2014) of Wunder Mobility, a technology company from Hamburg
                    and part of the new German automotive industry. After working at eBay and Adidas he founded the Latin
                    American startup Computod@s before he joined as a partner at Just Business, a seed stage incubator and
                    VC in San Francisco. Originally from America, Samuel has extensive experience as an entrepreneur in both
                    the non-profit and for-profit sectors and as an investor in disruptive technologies and consumer brands.
                    Samuel holds a Bachelor of Science degree in Commerce Finance, Music and International Business from
                    Santa Clara University.</p>
            </div>
        </div>
        <!-- #End Speaker -->
        <!-- #Start Speaker -->
        <div class="profiles__speaker">
            <div class="profiles__image">
                <a href="https://www.linkedin.com/in/djeusette/">
                    <img data-src="/img/icon-linkedin.svg">
                </a>
                <img data-src="/img/david-jeusette.jpg" data-srcset="/img/david-jeusette@2x.jpg 2x" class="lazyload"/>
            </div>
            <h2>David Jeusette</h2>
            <p class="profiles__role">
                CTO
            </p>
            <div class="profiles__description">
                <p>David is the CTO (since 2016) of Wunder Mobility, a technology company from
                    Hamburg and part of the new German automotive industry. He has more than eight years experience in the
                    mobility industry and founded the platforms Djengo and Djump, among others, working as the CTO for the
                    management of the technical teams. David has many years experience as a developer and completed his studies
                    in Software Engineering (M.Sc.) at the Université catholique de Louvain with magna cum laude.</p>
            </div>
        </div>
        <!-- #End Speaker -->
    </div>
</div>
