<section class="video-banner text-center">
    <div class="video-banner__overflow"></div>
    <video autoplay loop muted poster="./video/team.jpg" class="video-banner__video">
        <source src="/video/team.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="video-banner__title-wrapper">
            <h1 class="video-banner__title">Presse & Medien</h1>
            <p>Wir bauen die Zukunft der Mobilität. Gerne erzählen wir Ihnen mehr über unser Unternehmen - nehmen Sie Kontakt mit uns auf.</p>
            <a href="#contact">
                <button class="btn btn--blue">Kontaktieren Sie uns</button>
            </a>
        </div>
    </div>
</section>
