<footer class="footer">
  <div class="container">
      <div class="footer__wrapper row justify-content-md-between align-items-start">
          <img data-src="/img/logo-footer.svg" alt="Wunder" class="footer__logotype">
          <div>
            <h4>Wunder Carpool</h4>
            <ul>
              <li><a href="./carpool-app.html">O Aplicativo</a></li>
              <li><a href="https://help.wunder.org/" target="_blank">Ajuda</a></li>
              <!-- <li><a href="#">Blog</a></li>-->
            </ul>

            <h4>Empresa</h4>
            <ul>
              <li><a href="./careers.html">Carreiras</a></li>
              <li><a href="./press.html">Imprensa</a></li>
            </ul>
          </div>

          <div>
            <h4>Plataformas</h4>
            <ul>
              <li><a href="./shuttle.html">Shuttle</a></li>
              <li><a href="./fleet.html">Fleet</a></li>
              <li><a href="./carpool.html">Carpool</a></li>
              <li><a href="./pricing.html">Pricing</a></li>
              <li><a href="./meetup.html">Meetup</a></li>
              <!-- <li><a href="#">Advertising</a></li> -->
            </ul>
          </div>

          <div>
            <h4>Hamburg HQ</h4>
            <ul>
              <li><p>Hongkongstraße 7<br/>
                20457 Hamburg<br/>
                Germany</p></li>
            </ul>
            <h4>Escritórios</h4>
            <ul>
              <li><a target="_blank" href="https://goo.gl/1xLGbX">Dortmund</a></li>
              <li><a target="_blank" href="https://goo.gl/LZpDXn">Delhi</a></li>
              <li><a>Manila</a></li>
              <li><a target="_blank" href="https://goo.gl/wZcded">Rio de Janeiro</a></li>
            </ul>
          </div>

          <div>
            <h4>Reses Sociais</h4>
            <ul class="footer__socialmedia">
              <li><a href="https://www.facebook.com/WunderBrasil/"><img data-src="/img/icon-facebook.svg" alt="Facebook"></a></li>
              <li><a href="https://twitter.com/WunderCar"><img data-src="/img/icon-twitter.svg" alt="Twitter"></a></li>
              <li><a href="https://www.linkedin.com/company/wundercar-mobility-services-gmbh/"><img data-src="/img/icon-linkedin-footer.svg" alt="LinkedIn"></a></li>
              <li><a href="https://www.instagram.com/wunder_carpool_br/"><img data-src="/img/icon-instagram.svg" alt="Instagram"></a></li>
            </ul>
            <ul class="footer__buttons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple-footer.svg" alt="App for Apple"/></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android-footer.svg" alt="App for Android"/></a></li>
            </ul>
          </div>
      </div>
      <div class="footer__bottom">
          <ul>
            <li>© Wunder 2018</li>
            <li><a href="./privacy.html">Política de Privacidade</a></li>
            <li><a href="./terms-conditions.html">Termos e Condições</a></li>
            <li><a href="./imprint.html">Imprint</a></li>
          </ul>
      </div>
  </div>
</footer>
