<section class="video-banner text-center">
    <div class="video-banner__overflow"></div>
    <video autoplay loop muted poster="/video/wunder-meetup.jpg" class="video-banner__video">
        <source src="/video/wunder-meetup.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="video-banner__title-wrapper">
            <h1  class="video-banner__title">Connecting the leaders of the European mobility revolution.</h1>            
        </div>
    </div>
  </section>