<section class="video-banner">
    <div class="video-banner__overflow"></div>
    <video autoplay loop muted poster="/video/app.jpg" class="video-banner__video">
        <source src="/video/app.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div class="video-banner__title-wrapper">
          <h1  class="video-banner__title">Oferecendo <strong>novas tecnologias</strong> para <strong>conceitos de mobilidade</strong> mundial </h1>            
      </div>
  </div>
</section>
