<div class="simple-slider__wrapper">
    <div class="simple-slider simple-slider--meetup">
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="col-md-6 simple-slider__image">
              <img data-src="/img/meetup-slider-1.jpg" data-srcset="./img/meetup-slider-1@2x.jpg 2x" class="lazyload">
            </div>
            <div class="col-md-6 simple-slider__item-content">
              <h2>Exclusive</h2>
              <p>Free of charge but by invitation only. Wunder will guarantee the highest quality of attendees & speakers.</p>       
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="col-md-6 simple-slider__image">
              <img data-lazy="/img/meetup-slider-2.jpg" data-srcset="./img/meetup-slider-2@2x.jpg 2x">
            </div>
            <div class="col-md-6 simple-slider__item-content">
              <h2>Professional</h2>
              <p>Top speakers present their bold ideas on the future of mobility. All attendees are key players in the mobility space.</p>    
            </div>            
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
          <div class="container">
            <div class="row align-items-md-center">
              <div class="col-md-6 simple-slider__image">
                <img data-lazy="/img/meetup-slider-3.jpg" data-srcset="./img/meetup-slider-3@2x.jpg 2x">
              </div>
              <div class="col-md-6 simple-slider__item-content">
                <h2>Personal</h2>
                <p>Discover new mobility ideas and meet with the pioneers in European mobility. Enjoy a great setting and location in the heart of Hamburg’s Hafencity. We personally invite all attendees.</p>    
              </div>            
            </div>
          </div>
        </div>
        <!-- #end Slider Item-->      
    </div>
  </div>