<div class="simple-slider__wrapper">
  <div class="simple-slider">
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Flexible Mitfahrgelegenheiten</h2>
            <p>Fahrten finden oder anbieten: Mit der Wunder-App erstellen Sie Fahrten, wählen eine bevorzugte Route aus und wechseln Ihre Rolle bei jeder Fahrt. Stellen Sie einfach Ihren Ausgangspunkt, Ihr Ziel und Ihre Startzeit ein. Als Autobesitzer legen Sie den Fahrpreis selbst fest.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-src="/img/phone-slider-1.png" data-srcset="/img/phone-slider-1@2x.png 2x" alt="" class="lazyload">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Schnell Mitfahrer finden</h2>
            <p>Haben Sie eine Fahrt erstellt, suchen Sie sich auf der Karte passende Mitfahrer heraus und organisieren eine Fahrgemeinschaft.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="/img/phone-slider-2.png" data-srcset="/img/phone-slider-2@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Aktive Fahrt</h2>
            <p>Sobald eine Mitfahrgelegenheit besteht, führt Sie die App mit ihren Hauptaktionen reibungslos durch den Prozess. Verwenden Sie die hervorgehobenen Aktionstasten, um eine Fahrt zu starten oder eine Zahlung abzuschließen.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="/img/phone-slider-3.png" data-srcset="/img/phone-slider-3@2x.png 2x">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Einfache Bezahlung</h2>
            <p>Sobald Ihre Mitfahrt beginnt, können Sie bar oder über unser integriertes Portemonnaie bezahlen – die Aufladung ist ganz einfach.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-lazy="/img/phone-slider-4.png" data-srcset="/img/phone-slider-4@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
    <!-- Slider Item -->
    <div class="simple-slider__item">
      <div class="container">
        <div class="row align-items-md-center">
          <div class="col-md-6 order-2 order-md-1 simple-slider__item-content">
            <h2>Bewertung</h2>
            <p>Hatten Sie eine schöne Fahrt zur Arbeit? Um die Fahrt zu beenden, bewerten Sie einfach Ihren Fahrer/Beifahrer und teilen Sie Ihre Pendler-Erfahrung mit, indem Sie einen Kommentar schreiben.</p>
            <ul class="simple-slider__icons">
              <li><a href="https://app.adjust.com/17ps6p3"><img data-src="/img/icon-apple.svg" alt="Download for Apple"></a></li>
              <li><a href="https://app.adjust.com/s3qasx7"><img data-src="/img/icon-android.svg" alt="Download for Android"></a></li>
            </ul>
          </div>
          <div class="col-md-6 order-1 order-md-2 simple-slider__image">
              <img data-src="/img/phone-slider-5.png" data-srcset="/img/phone-slider-5@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- #end Slider Item-->
  </div>
</div>
