<div class="simple-slider__wrapper solutions">
  <h2 class="simple-slider__title">Unsere Prozesse</h2>
    <div class="simple-slider simple-slider--shuttle simple-slider--process">
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2 col-md-3 simple-slider__image">
              <img data-src="/img/shuttle-process-slider-discovery.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Persönliches Kennenlernen</h2>
              <ul class="simple-slider__item-list">
                <li>Zu Beginn nehmen wir Ihre Mobilitätsbedürfnisse genau unter die Lupe und demonstrieren Ihnen unsere Technologie.</li>
                <li>Wir geben Ihnen einen detaillierten Projektvorschlag inkl. zeitlicher Umsetzung und Budgetvorstellung in die Hand.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2 col-md-3 simple-slider__image">
              <img data-lazy="/img/shuttle-process-slider-preparation.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Vorbereitung und Service-Konzeption</h2>
              <ul class="simple-slider__item-list">
                <li>Gemeinsam mit Ihnen definieren wir das optimale Betriebsgebiet, die Betriebszeiten und die Anzahl der Fahrzeuge. Um Fahrer und Fahrgast bestmöglich zu verbinden, bestimmen wir die zumutbaren Umwege und Wartezeiten.</li>
                <li>Wir unterstützen Sie bei der Konzipierung und Planung einer wirksamen Vermarktungsstrategie.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2  col-md-3 simple-slider__image">
              <img data-lazy="/img/shuttle-process-slider-launch.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Implementierung</h2>
              <ul class="simple-slider__item-list">
                <li>Wir implementieren eine individuelle White-Label-Lösung für Sie, die exakt auf Ihre Wünsche und Bedürfnisse zugeschnitten ist.</li>
                <li>Für einen reibungslosen Betrieb schulen wir Ihre Fahrer und Disponenten.</li>
                <li>Vor dem offiziellen Startschuss führen wir umfangreiche Tests durch.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
      <!-- Slider Item -->
      <div class="simple-slider__item">
        <div class="container">
          <div class="row align-items-md-center">
            <div class="offset-md-2  col-md-3 simple-slider__image">
              <img data-lazy="/img/shuttle-process-slider-scaling.svg">
            </div>
            <div class="col-md-5 simple-slider__item-content text-left">
              <h2>Betrieb und Weiterentwicklung</h2>
              <ul class="simple-slider__item-list">
                <li>Auf Wunsch steuern wir alle Marketing- und Betriebsaktivitäten mit Hilfe eines engagierten Operations-Teams.</li>
                <li>Unser Tech-Team hält Ihre Software kontinuierlich auf dem neuesten Stand und maximiert fortlaufend die Effizienz und Servicequalität Ihrer Mobilitätslösung.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #end Slider Item-->
    </div>
  </div>
