<div class="picture-slider__wrapper">
    <div class="picture-slider picture-slider--green" style="width: 100%">
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-src="/img/team-slider-1.jpg" data-srcset="/img/team-slider-1@2x.jpg 2x" class="lazyload"/>
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__author">Justus Toelle (Deutschland)</p>
                        <p class="picture-slider__quote">Ein Brasilianer, ein Thai, ein Portugiese, eine Pole und ein Deutscher laufen in ein koreanisches Grillrestaurant. Was wie die erste Zeile eines Witzes klingt, ist ein normaler Freitagabend bei Wunder. Wir sind ein wirklich gutes Team mit engen Beziehungen. Das ist es, was ich an der Arbeit hier schätze.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="/img/team-slider-2.jpg" data-srcset="/img/team-slider-2@2x.jpg 2x" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__author">Tamy Ribeiro (Brasilien) <span>– -Markenpartnerschaften</span></p>
                        <p class="picture-slider__quote">Wunder's Mission zieht unglaubliche Mitarbeiter an, die sich leidenschaftlich für die sozialen Auswirkungen unserer Arbeit auf das Leben von Menschen interessieren. Der Sinn für Autonomie und die Freiheit, Fähigkeiten in unserer täglichen Arbeit anzuwenden, fördern Innovationen und machen Wunder zu einem schnellen, datengesteuerten und idealen Ort, an dem wir als Profis und Menschen arbeiten und uns entwickeln können.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="/img/team-slider-3.jpg" data-srcset="/img/team-slider-3@2x.jpg 2x" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__author">Jared Beekhuyzen (Australien) <span>– Video & Storytelling</span></p>
                        <p class="picture-slider__quote">Der spannendste Aspekt der Arbeit bei Wunder ist die kreative Möglichkeit, Geschichten für ein Produkt zu erzählen, das das Potenzial hat, das Leben der Menschen auf verschiedenen Ebenen zu verändern, ist der Treibstoff, nach dem sich jeder Kreative sehnt. Diese Möglichkeit wird durch das Arbeitsumfeld gefördert; ein dynamisches Büro mit einem jungen internationalen Team.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
    </div>
</div>
