<div class="picture-slider__wrapper">
  <div class="container">
    <h3>Erlebnisse Unserer Wunder <br/>community-mitglieder</h3>
  </div>
  <div class="picture-slider">
    <!-- Slider Item -->
    <div class="picture-slider__item">
      <div class="picture-slider__background">
        <img data-src="/img/testimonial-slider-1.jpg" data-srcset="./img/testimonial-slider-1@2x.jpg 2x" class="lazyload" alt=""/>
      </div>
      <div class="container picture-slider__content-wrapper">
        <div class="picture-slider__content">
          <p class="picture-slider__author">Rohan, Mumbai (Indien)</p>
          <p class="picture-slider__quote">Mit einem Fingertipp kann ich Fahrer finden, die in meine Richtung fahren. Und ich teile gerade die Kosten des Kraftstoffs. Es hilft auch Mumbai, sauberer und grüner zu werden.</p>
        </div>
      </div>
    </div>
    <!-- #end Slider Item -->
    <!-- Slider Item -->
    <div class="picture-slider__item">
      <div class="picture-slider__background">
        <img data-lazy="/img/testimonial-slider-2.jpg" data-srcset="./img/testimonial-slider-2@2x.jpg 2x" alt=""/>
      </div>
      <div class="container picture-slider__content-wrapper">
        <div class="picture-slider__content">
          <p class="picture-slider__author">Myleen, Manila (Philippinen)</p>
          <p class="picture-slider__quote">Mit der Taxi-App, die ich vorher benutzt habe, verbrachte ich ca. 250 Pesos von Paranaque City nach BGC. Seit ich mit Wunder eine Fahrgemeinschaft habe, brauche ich nur noch 60 Pesos und lerne immer nette Leute kennen.</p>
        </div>
      </div>
    </div>
    <!-- #end Slider Item -->
    <!-- Slider Item -->
    <div class="picture-slider__item">
      <div class="picture-slider__background">
        <img data-lazy="/img/testimonial-slider-3.jpg" data-srcset="./img/testimonial-slider-3@2x.jpg 2x" alt=""/>
      </div>
      <div class="container picture-slider__content-wrapper">
        <div class="picture-slider__content">
          <p class="picture-slider__author">Radhika, Delhi (Indien)</p>
          <p class="picture-slider__quote">Ich bevorzuge Fahrgemeinschaften mit Wunder statt mit öffentlichen Verkehrsmitteln zu fahren. Ich spare Zeit und Geld.</p>
        </div>
      </div>
    </div>
    <!-- #end Slider Item -->
  </div>
</div>
