{% include partials/global/_head.html %}

<body class="en" data-menu="0" data-submenu="0">
    {% include partials/global/_header.html %}
    <main class="solutions solutions--shuttle">
        {% include partials/banner/_banner-shuttle.html %}
        {% include partials/_client-list.html %}
        {% include partials/icons-text/_icons-text-shuttle.html %}
        {% include partials/slider/_shuttle-slider.html %}
        {% include partials/text-boxes/_text-boxes-shuttle.html %}
        {% include partials/_big-quote.html %}
        {% include partials/_contact-form.html %}
    </main>
    {% include partials/global/_footer.html %}
    {% include partials/global/_foot.html %}
</body>

</html>
