<div class="container icons-text">
  <div class="row">
    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-save-money.svg" alt=""/>
      <h2>Sparen Sie Geld</h2>
      <p>Sparen Sie Geld, indem Sie sich die Treibstoffkosten beim Mitfahren teilen.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-make-friends.svg" alt=""/>
      <h2>Freunde finden</h2>
      <p>Treffen Sie andere Menschen, die den gleichen weg haben, indem Sie leere Sitze in Ihrem Auto teilen.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-help-nature.svg" alt=""/>
      <h2>Helfen Sie der Natur</h2>
      <p>Helfen Sie der Natur, indem Sie den Verkehr in Ihrer Stadt reduzieren.</p>
    </div>
  </div>
</div>
