<div class="container icons-text">
    <div class="row icons-text__description">
        <div class="col-md-6">
            <h2 class="text-right-md">Wunder ist ein unternehmen für urbane mobilitäts-technologie. Wir befähigen gemeinden weltweit, nachhaltige mobilität schneller umzusetzen.
            </h2>
        </div>
        <div class="col-md-6">
            <p class="text-left">Wir bieten das gesamte Spektrum an neuen Lösungen für urbane Mobilität: Fahrgemeinschaften, Mitfahrgelegenheiten, intelligente Shuttles sowie free-floating Car- und Scooter-Sharing. Wir setzen unsere Technologien direkt bei Verbrauchern in Asien, Europa und Lateinamerika sowie in Technologiepartnerschaften mit Städten und der Automobilindustrie ein.</p>
        </div>
    </div>
</div>
