<div class="container icons-text">
  <div class="row">
    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-save-money.svg" alt=""/>
      <h2>Geld sparen</h2>
      <p>Sparen Sie große Summen, indem Sie sich die Kraftstoffkosten von Fahrten teilen.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-make-friends.svg" alt=""/>
      <h2>Freunde finden</h2>
      <p>Lernen Sie auf Ihrem Weg neue Menschen kennen, indem Sie leere Sitze in Ihrem Auto anbieten.</p>
    </div>

    <!-- Item -->
    <div class="col-md-4 icons-text__item">
      <img data-src="/img/icon-help-nature.svg" alt=""/>
      <h2>Natur schützen</h2>
      <p>Helfen Sie der Natur, indem Sie den Verkehr in Ihrer Stadt reduzieren.</p>
    </div>
  </div>
</div>
