<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">Kostensparende Mitfahrgelegenheiten, glückliche Mitarbeiter.</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Wir betreiben die weltweit führende Plattform für Mitfahrgelegenheiten. In dicht besiedelten Städten mit hohem Verkehrsaufkommen verbindet unsere Wunder-App Pendler mit Autofahrern, die ihre freien Sitzplätze füllen möchten. Im Vergleich zu Taxis erwirtschaften die Fahrer keinen Gewinn, sondern teilen sich die Kosten der Fahrt mit anderen Menschen. Gute Gespräche inklusive.</p>
        <p class="text-left">Sie interessieren sich für ein Fahrgemeinschaftssystem für Ihre Mitarbeiter? Mit unserer jahrelangen Erfahrung und Expertise sind wir die richtigen Ansprechpartner für Sie.</p>
      </div>
    </div>
  </div>
