<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">We are running the leading urban carpooling solution.</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Our Wunder Carpool App connects commuters in the world's most gridlocked cities to people with empty seats. Anyone with a car can sign up within three clicks and instantly connect with passengers who are headed in the same direction. Unlike professional taxis, there is no profit for carpool drivers. They only share up to two rides a day and accept a convenient detour in exchange for sharing the cost of the trip with their passengers.</p>                
      </div>
    </div>
  </div>