<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">Wunder realisiert für Sie flexible Mobilitätslösungen und unterstützt Sie bei der Digitalisierung Ihres öffentlichen Nahverkehrs.</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Ganz gleich, ob bestehende Bedarfsverkehre digitalisiert oder ein öffentlicher Nahverkehr mit einem flexiblen System jenseits statischer Routen und Fahrplänen ergänzt werden soll.</p>
        <p class="text-left">Wir verfügen über eine leistungsfähige Technologie, die Sie unterstützt Kosten zu sparen und neue Zielgruppen zu erschließen.</p>
      </div>
    </div>
  </div>
