<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">Entscheiden Sie sich für die nächste Generation der Fahrzeugvermietung.</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Wir haben die perfekte Software und Hardware entwickelt, um Ihren Auto- oder Roller-Sharing-Dienst auf die Straße zu bringen.</p>
        <p class="text-left">Unsere Lösung stattet Sie komplett aus – von der Flottenverfolgung über das Kundenmanagement bis hin zu mobilen Anwendungen für Ihre Kunden. Unsere Fleet-Sharing-Software kommt rund um den Globus zum Einsatz. Wir haben 99,99 % Serververfügbarkeit, unterstützen 245k Geräte (iOS & Android) und sind bereits 146,45 mal um die Welt gefahren.</p>
      </div>
    </div>
  </div>
