<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">We developed a software & hardware solution to run your free floating car or scooter sharing business. </h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Our solution provides everything you need from fleet tracking to customer management as well as mobile applications for your customers. Be ready for the next generation of vehicle renting.</p>        
        <p class="text-left">Our car sharing software is used around the world. We have 99,99 % server uptime, we support >250k devices (IOS & Android) and have already driven >100 times around the world.</p>
      </div>
    </div>
  </div>