<div class="container icons-text">
    <div class="row icons-text__description">
      <div class="offset-md-2 col-md-4">
        <h2 class="text-right-md">Wunder Mobility ist ein internationaler Technologie-Zulieferer für innovative und zukunftsweisende Mobilitätskonzepte</h2>
      </div>
      <div class="col-md-5">
        <p class="text-left">Das 2014 gegründete Unternehmen bietet als einziger internationaler Full-Stack-Anbieter das gesamte Spektrum der neuen Mobilitätsdienste aus einer Hand an. Das Portfolio umfasst Software, Hardware sowie operative Dienstleistungen für Smart Shuttles, Fleet Management (Car-, Bike- und Scooter-Sharing) und Carpooling.</p>
        <p class="text-left">Als Berater und Partner für Städte und Gemeinden treibt Wunder die Digitalisierung des öffentlichen Nahverkehrs voran. Verkehrsbetriebe sowie Unternehmen aus der Automobilindustrie aus Europa, Amerika und Japan haben sich bereits für den Einsatz der flexiblen und skalierbaren Technologie entschieden.</p>
      </div>
    </div>
  </div>
